.container {
  position: relative;
}
p {
  margin: 0;
}

.font-12 {
  font-size: 12px;
}

.font-14 {
  font-size: 14px;
}

.font-16 {
  font-size: 16px;
}

.font-18 {
  font-size: 18px;
}

.font-20 {
  font-size: 20px;
}

.font-25 {
  font-size: 25px;
}

.label-check {
  margin-bottom: 0;
  &:hover {
    cursor: pointer;
  }
  &.disable {
    &:hover {
      cursor: default;
    }
  }
  input[type="checkbox"] {
    display: none;
  }
  .chck {
    display: inline-block;
    @include sprite-dimensions($sprites, checkbox);
    background: sprite($sprites, checkbox);
    margin-bottom: -2px;
  }
  input[type=checkbox]:checked + .chck {
    @include sprite-dimensions($sprites, checkbox_checked);
    background: sprite($sprites, checkbox_checked);
  }
  input[type=checkbox]:disabled + .chck {
    @include sprite-dimensions($sprites, checkbox_disabled);
    background: sprite($sprites, checkbox_disabled);
  }
}

.on-off {
  .label-check {
    .chck {
      display: inline-block;
      @include sprite-dimensions($sprites, checkbox_off);
      background: sprite($sprites, checkbox_off);
      margin-bottom: -2px;
    }
    input[type=checkbox]:checked + .chck {
      @include sprite-dimensions($sprites, checkbox_on);
      background: sprite($sprites, checkbox_on);
    }
  }
}

header {
  position: relative;
  z-index: 999;
}
article {
  background-color: #eff3f3;
  padding-bottom: 20px;

  .line {
    line-height: 10px
  }
  .offers-back {
    i {
      @include sprite-dimensions($sprites, ico_back);
      background: sprite($sprites, ico_back);
      display: block;
      float: left;
      margin-right: 10px;
      margin-top: 2px;
    }
    padding-bottom: 20px;
    display: inline-block;
    &:hover {
      text-decoration: none;
      color: #0072BC;
      i {
        background: sprite($sprites, ico_back_hover);
      }
    }
  }
  .account {
    width: 100%;
    padding: 22px 0 18px;
    font-size: 16px;
    font-family: $font-lato;
    i {
      @include sprite-dimensions($sprites, ico_person);
      background: sprite($sprites, ico_person);
      display: block;
      float: left;
      margin-right: 10px;
      margin-top: 2px;
    }
    .owner {
      display: inline-block;
    }
    .status {
      display: inline-block;
      font-size: 14px;
      margin-left: 20px;
    }
  }

  .no-padding-left {
    padding-left: 0;
  }

  h1, h2, h3, h4, h5 {
    font-family: $font-lato;
    font-weight: 700;
    margin-top: 0px;
  }
  h3.user {
    color: #0072bc;
    margin-left: 10px;
  }
  h4 {
    font-size: 18px;
    margin-top: 5px;
  }
  h5 {
    font-size: 15px;
  }
  .user, .owner {
    color: #0072bc;
    font-weight: bold;
    text-decoration: none;
    span {
      color: #18acea;
      padding-left: 3px;
    }
  }
  .modal-content .modal-footer .btn {
    @include border-radius(0px !important);
  }
  .btn {
    @include anim();
    @include border-radius(3px !important);
    &:focus {
      color: #fff;
    }
    &.accept-offer {
      background-color: #0072bc;
      font-weight: bold;
      color: #FFF;
      padding-right: 45px;
      padding-left: 7px;
      margin-top: -7px;
      .accept-offer {
        margin-top: 1px;
      }
      &:hover {
        background-color: darken(#0072bc, 20%);
      }
      &.end {
        background: #9f9f9f;
        padding-right: 15px;
        &:hover {
          background-color: darken(#9f9f9f, 20%);
        }
      }
      &.download {
        padding-right: 10px;
        margin-left: 10px;
        margin-bottom: 8px;
      }
      &.up {
        padding-right: 12px;
      }
      &.off {
        background: #CCC;
        padding-right: 12px;
        &:hover {
          background: darken(#ccc, 20%);
        }
        i {
          top: 4px;
          margin-right: 10px;
        }
      }
    }
    &.recall {
      background: #9f9f9f;
      margin-left: 5px;
      font-weight: bold;
      color: #FFF;
      padding-right: 20px;
    }
  }
}
.btn .caret {
  margin-left: 10px!important;
}
footer {
  padding-bottom: 20px;
}
.news{
  .title{
    text-align: center; padding-bottom: 20px;
    h1{
      font-size: 45px; color: #1b3349;
    }
  }
  .content{
    .news-box{
      padding-top: 40px; overflow: auto;
      .data{
        background-color: #18acea; color: #FFF;
        padding: 10px 10px 15px 10px;
        h3{
          font-size: 50px;
          margin-bottom: 0; font-family: $font-lato;
        }
        h5{
          margin: 0; font-family: $font-lato;
          font-size: 21px;
        }
      }
      .data.gr{
        background-color: #b1b1b1;
      }
      .desc{
        padding-bottom: 20px;
        border-bottom: 1px solid #dcdcdc;
        font-size: 16px; color: #7d7d7d;
        h2{
          font-size: 28px; font-family: $font-lato; color: #252525;
        }
      }
      .archiv{
        color: #18acea; font-family: $font-lato; font-size: 16px;
        h3{
          font-size: 24px; margin: 0;
          color: #252525; margin-bottom: 10px; font-weight: 400;
        }
        .blue-box{
          color: #18acea; font-family: $font-lato; font-size: 16px;
        }
      }
    }
  }
}

.back {
  font-size: 13px;
  line-height: 25px;
  background-color: #919191;
  color: #FFF;
  font-weight: bold;
  margin: 25px 0 0;
  padding: 5px 8px 3px;
  @include border-radius(3px);
  display: inline-block;
  @include anim();
  i {
    display: inline-block;
    margin-right: 8px !important;
  }
  &:hover {
    background: #18acea;
    color: #fff;
  }
}
.verify {
  font-size: 14px;
  color: #219331;
  margin-top: 30px;
  i {
    display: inline-block;
    @include sprite-dimensions($sprites, verify);
    background: sprite($sprites, verify);
    margin-bottom: -2px;
    margin-right: 5px;
  }
}

.overlay {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  background: #1b3349;
  opacity: 0.5;
  z-index: 9;
}
.alert-dismissable .close {
  right: 0px;
}
.alert {
  padding: 15px 15px 12px 45px;
  .close {
    font-size: 24px;
  }
  &.alert-success {
    background-color: #e2fad8;
    border-color: #a7e0ac;
    color: #219331;
    background-image: url(../images/success.png);
    background-position: 14px 50%;
    background-repeat: no-repeat;
  }
  &.alert-info {
    background-color: #e1f0f7;
    border-color: #a7d0e0;
    color: #0072bc;
    background-image: url(../images/info.png);
    background-position: 14px 50%;
    background-repeat: no-repeat;
  }
  &.alert-warning {
    background-color: #fff1d5;
    border-color: #ebca96;
    color: #ca8a25;
    background-image: url(../images/alert.png);
    background-position: 14px 50%;
    background-repeat: no-repeat;
  }
}

i {
  &.transport-red {
    @include sprite-dimensions($sprites, ico_car);
    background: sprite($sprites, ico_car);
    display: inline-block;
    margin-bottom: -4px;
    margin-left: 3px;
  }
  &.ico_conquer {
    @include sprite-dimensions($sprites, ico_conquer);
    background: sprite($sprites, ico_conquer);
    display:block;
    margin-right: 5px;
  }
  &.ico_end {
    @include sprite-dimensions($sprites, ico_end);
    background: sprite($sprites, ico_end);
    display: block;
    margin-right: 12px;
    position: relative;
    top: 3px;
  }
  &.ico_close {
    @include sprite-dimensions($sprites, ico_close);
    background: sprite($sprites, ico_close);
    display: block;
    margin-right: 5px;
    position: relative;
    top: 3px;
  }
  &.location {
    @include sprite-dimensions($sprites, ico_location);
    background: sprite($sprites, ico_location);
    display: block;
  }
  &.deliver-white {
    @include sprite-dimensions($sprites, ico_del_wh);
    background: sprite($sprites, ico_del_wh);
    display:block;
    margin-left: -5px;
  }
  &.ico_zap_blue{
    @include sprite-dimensions($sprites, ico_zap_blue);
    background: sprite($sprites, ico_zap_blue);
    display: block;
    margin-right: 5px;
  }
  &.ico_ok_green{
    @include sprite-dimensions($sprites, ico_ok_green);
    background: sprite($sprites, ico_ok_green);
    display: block;
    margin-right: 5px;
  }
  &.ico_not_ok_red{
    @include sprite-dimensions($sprites, ico_not_ok_red);
    background: sprite($sprites, ico_not_ok_red);
    display: block;
    margin-right: 5px;
  }
  &.star{
    @include sprite-dimensions($sprites, ico_star);
    margin-left: 5px;
    background: sprite($sprites, ico_star);
    display: block;
    margin-top: 3px;
  }
  &.star_gold{
    @include sprite-dimensions($sprites, ico_star_gold);
    margin-left: 5px;
    background: sprite($sprites, ico_star_gold);
    display:block;
    margin-top: 3px;
  }
  &.transport{
    @include sprite-dimensions($sprites, ico_transport);
    background: sprite($sprites, ico_transport);
    display: block;
  }
  &.ico_person{
    @include sprite-dimensions($sprites, ico_person);
    background: sprite($sprites, ico_person);
    display: block;
    margin-top: 3px;
  }
  &.delivery-desc{
    @include sprite-dimensions($sprites, ico_desc_delivery);
    background: sprite($sprites, ico_desc_delivery);
    display: block;
  }
  &.delivery {
    @include sprite-dimensions($sprites, ico_delivery);
    background: sprite($sprites, ico_delivery);
    margin-top: 2px;
  }
  &.up {
    @include sprite-dimensions($sprites, ico_up);
    background: sprite($sprites, ico_up);
    margin-top: 6px;
  }
  &.down {
    @include sprite-dimensions($sprites, ico_down);
    background: sprite($sprites, ico_down);
    margin-top: 6px;
  }
  &.calendar{
    @include sprite-dimensions($sprites, ico_calendar);
    background: sprite($sprites, ico_calendar);
    display: block;
  }
  &.offers{
    @include sprite-dimensions($sprites, ico_offers);
    background: sprite($sprites, ico_offers);
  }
  &.invite{
    @include sprite-dimensions($sprites, ico_zap);
    background: sprite($sprites, ico_zap); display:block;
    margin-right: 10px;
  }
  &.message_bl{
    margin-right: 5px;
    @include sprite-dimensions($sprites, ico_message_bl);
    background: sprite($sprites, ico_message_bl); display: block;
  }
  &.accept-offer{
    @include sprite-dimensions($sprites, ico_order);
    background: sprite($sprites, ico_order);
    margin-right: 8px;
    margin-top: 3px;
    margin-bottom: -5px;
  }
  &.decline-offer{
    @include sprite-dimensions($sprites, ico_order_2);
    background: sprite($sprites, ico_order_2);
    margin-right: 8px;
    margin-top: 3px;
    margin-bottom: -5px;
  }
  &.stop{
    @include sprite-dimensions($sprites, ico_stop);
    background: sprite($sprites, ico_stop);
    margin-right: 8px;
    margin-top: 2px;
    margin-bottom: -5px;
  }
  &.back-white{
    @include sprite-dimensions($sprites, ico_back_white);
    background: sprite($sprites, ico_back_white);
    margin-right: 12px;
    margin-top: 1px;
  }
  &.full-stats{
    @include sprite-dimensions($sprites, ico_full_stats);
    background: sprite($sprites, ico_full_stats);
    margin-right: 12px;
    margin-bottom: -3px;
  }
  &.add-employee {
    @include sprite-dimensions($sprites, ico_add_employee);
    background: sprite($sprites, ico_add_employee);
  }
  &.ico_re {
    @include sprite-dimensions($sprites, ico_re);
    background: sprite($sprites, ico_re);
    display: block;
    margin: 0 5px -1px 0;
  }
}
