/*li{
  @include sprite-dimensions($sprites, li);
  background: sprite($sprites, li);
  display: block;
}*/
body{
  font-family: Arial, Helvetica, sans-serif;
  color: #252525;
  background-color: #eff3f3;
  a {
    outline: 0 !important;
  }
}
.blue-bg{
  background-color: #1b3349;
  color: #FFF;
  .logo{
    @include sprite-dimensions($sprites, logo);
    background: sprite($sprites, logo);
    display: block;
    margin-top: 14px; margin-bottom: 14px;
  }
}
header{
  border-bottom: 1px solid #CCCCCC;
  background-color: #FFF;
  .logo{
    @include sprite-dimensions($sprites, logo);
    background: sprite($sprites, logo);
    display: block;
    margin-top: 14px;
  }
  .login{
    padding: 22px 0 0 0;
    text-align: right;
  }
  .notifications{
    position: relative;
    border-left: 1px solid #CCCCCC;
    width: auto;
    padding-bottom: 5px;
    max-height: 62px;
    > a {
      padding: 25px 25px 8px;
    }
    i.ico-notifications{
      @include sprite-dimensions($sprites, ico_bell);
      background: sprite($sprites, ico_bell); display: block;
      margin: 3px auto 0;
    }
    .counter{
      position: absolute;
      top: 7px;
      right: 6px;
      background-color: #e74c3c;
      color: #FFF;
      padding: 1px 3px 1px 2px;
      font-size: 12px;
      font-family: $font-lato;
      font-weight: 700;
      text-align: center;
      @include border-radius(3px);
    }
    .dropdown-menu {
      width: 300px;
      padding: 10px 0 0;
      li {
        padding: 7px 16px;
        border-top: 1px solid #d8d8d8;
        font: 13px/16px Arial;
        color: #333333;
        a {
          display: inline-block;
          padding: 0;
          clear: none;
          color: #18acea;
          font-weight: 600;
          &:hover {
            background: none;
            text-decoration: underline;
          }
        }
        &.title {
          font: 600 20px $font-lato;
          padding-bottom: 10px;
          border-top: 0px solid;
        }
        &.footer {
          border-top: 0px solid;
          text-align: center;
          padding-bottom: 10px;
          padding-top: 10px;
          background: #0072bc;
          margin-top: 5px;
          @include anim();
          &:hover {
            background: #18acea;
            a {
              text-decoration: none;
            }
          }
          a {
            color: #fff;
          }
        }
      }
    }
  }
  .logout{
    cursor: pointer;
    border-left: 1px solid #CCCCCC;
    padding-bottom: 4px;
    width: auto;
    max-height: 62px;
    a {
      padding: 25px 25px 5px;
    }
    i.ico-logout{
      @include sprite-dimensions($sprites, ico_logout);
      background: sprite($sprites, ico_logout);
      display: block;
      margin: 4px auto 0;
    }
  }
  .btn.order i.deliver-white{
    @include sprite-dimensions($sprites, ico_del_wh);
    background: sprite($sprites, ico_del_wh);
    display:block;
  }
  .btn.order.header{
    font-size: 14px;
    font-family: Arial,sans-serif;
    background-color: #389417;
    font-weight: bold;
    position: relative;
    top: -10px;
    margin-left: 0px;
    margin-right: 10px;
    padding-right: 30px;
    line-height: 25px;
  }
}