nav {
  padding: 0 !important;
  margin-left: -10px;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    .dropdown {
      background-color: #18acea;
      width: 60px;
      height: 62px;
      display: block;
      position: relative;
      &:after {
        content: '';
        display: block;
        background-color: #18acea;
        width: 100%;
        height: 1px;
        bottom: -1px;
        position: absolute;
      }
      .dropdown-toggle {
        width: 100%;
        height: 100%;
        text-indent: -9000px;
        position: relative;
        display: block;
        .ico_menu {
          @include sprite-dimensions($sprites, ico_menu);
          background: sprite($sprites, ico_menu);
          display: block;
          position: absolute;
          top: 50%; left: 50%;
          margin-top: -8px; margin-left: -8px;
        }
      }
      .dropdown-menu {
        background-color: #1b3349;
        width: 60px;
        min-width: inherit;
        border: 0px;
        margin: 0;
        padding: 0;
        overflow: hidden;
        @include anim();
        @include border-radius(0px);
        @include box-shadow(0 0 0 black);
        &:hover, &.expand {
          width: 230px;
          li, li.active {
            a, a:focus {
              color: #fff;
              border-bottom: 1px solid #25415b;
              .arrow {
                opacity: 1;
                @include transition-delay(0.1s);
              }
            }
            .sub-dropdown-menu {
              display: block;
            }
          }
        }
        li {
          &.active{
            a {
              color: #0072bc;
            }
          }
          a, a:focus {
            display: block;
            padding: 18px;
            border-bottom: 1px solid transparent;
            color: #1b3349;
            background-color: #1b3349;
            @include anim();
            font: 16px $font-lato;
            i {
              float: left;
              margin-right: 10px;
              margin-top: 2px;
              margin-left: 3px;
              &.ico_home {
                @include sprite-dimensions($sprites, ico_home);
                background: sprite($sprites, ico_home);
                display: block;
              }
              &.ico_auction {
                @include sprite-dimensions($sprites, ico_auction);
                background: sprite($sprites, ico_auction);
                display: block;
              }
              &.ico_statistic {
                @include sprite-dimensions($sprites, ico_statistic);
                background: sprite($sprites, ico_statistic);
                display: block;
              }
              &.ico_friends {
                @include sprite-dimensions($sprites, ico_friends);
                background: sprite($sprites, ico_friends);
                display: block;
              }
              &.ico_card {
                @include sprite-dimensions($sprites, ico_card);
                background: sprite($sprites, ico_card);
                display: block;
              }
              &.ico_options {
                @include sprite-dimensions($sprites, ico_options);
                background: sprite($sprites, ico_options);
                display: block;
              }
              &.ico_message {
                @include sprite-dimensions($sprites, ico_message);
                background: sprite($sprites, ico_message);
                display: block;
              }
              &.ico_qua {
                @include sprite-dimensions($sprites, ico_qua);
                background: sprite($sprites, ico_qua);
                display: block;
              }
            }
          }
          &.active, &:hover {
            > a, a:focus {
              background-color: #0072bc;
              text-decoration: none;
            }
          }
        }
        .sub-dropdown {
          .arrow {
            float: right;
            display: block;
            margin-top: 8px;
            opacity: 0;
            @include sprite-dimensions($sprites, arrow_down);
            background: sprite($sprites, arrow_down);
            &.active {
              background: sprite($sprites, arrow_up);
            }
          }
          .sub-dropdown-menu {
            height: 0px;
            display: none;
            visibility: hidden;
            &.active {
              height: auto;
              visibility: visible;
            }
            li {
              a {
                color: #5d80a1;
                font-size: 14px;
                padding-left: 46px;
                background: #0d2031;
              }
              &:hover, &.active {
                a {
                  color: #fff;
                  text-decoration: none;
                }
              }
            }
          }
        }
      }
    }
  }
  /*.navigation {

    li {
      padding: 22px;
      background-color: #1b3349;
      &.top {
        background-color: #18acea;
      }
      &.active {
        background-color: #0072bc;
      }
      &:hover {
        background-color: #0072bc;
      }
    }

  }*/
  .menu-right{
    color: #FFF;
    margin-top: 20px;
    li{
      margin-left: 20px;
      .log-in{
        background-color: #32485c;
        color: #FFF; font-family: $font-lato; font-weight: 700; font-size: 14px;
        border: none; border-radius: 2px;
        padding: 3px 10px;
        position: relative; top: -3px;
      }
      a{
        color: #FFF;
        font-family: $font-lato; font-size: 14px;
      }
    }
  }
}