.modal-content {
  @include border-radius(0px);
  .user {
    margin-left: 5px;
  }
  .modal-footer {
    border-top: 0;
    padding: 0;
    border: 0px !important;
    .btn {
      border: 0;
      margin: 0;
      color: #fff;
      width: 50%;
      padding: 15px 0 16px;
      font: 700 14px Arial, sans-serif;
      @include border-radius(0px);
      &.btn-default {
        float: left;
        background: #afafaf;
        &:hover {
          background: darken(#afafaf, 20%);
        }
      }
      &.btn-primary {
        float: right;
        background: #0072bc;
        padding: 19px 0 16px;
        &:hover {
          background-color: #18acea;
        }
      }
      &.btn-secondary {
        float: right;
        background-color: #389417;
        padding: 19px 0 16px;
        &:hover {
          background-color: #256b0c;
        }
      }
      i {
        display: inline-block;
      }
      &.new-opinion {
        background-image: url(../images/ico_add.png);
        background-repeat: no-repeat !important;
        background-position: 32px 18px;
        padding-left: 15px;
      }
      &.new-panel {
        background-image: url(../images/ico_add.png);
        background-repeat: no-repeat !important;
        background-position: 25px 18px;
        padding-left: 25px;
      }
      &.new-accept {
        background-image: url(../images/ico_order.png);
        background-repeat: no-repeat !important;
        background-position: 40px 18px;
        padding-left: 15px;
      }
      &.new-faq {
        background-image: url(../images/ico_add.png);
        background-repeat: no-repeat !important;
        background-position: 15px 18px;
        padding-left: 27px;
      }
      &.view-transporter{
        background-image: url(../images/ico_full_stats.png);
        background-repeat: no-repeat !important;
        background-position: 50px 16px;
        padding: 17px 0 16px 27px;
      }
    }

  }
}

#accept {
 .modal-dialog {
   width: 400px;
   .offer-details {
     border: 0;
     .offer-list {
       padding: 0;
     }
     .offer-row {
       margin-left: 10%;
       width: 100% !important;
       border: 0;
       .col-xs-2 {
         position: relative;
         top: 0;
       }
       .user {
         line-height: 20px;
       }
     }
   }
 }
}
#new-panel {
  .modal-dialog {
    width: 350px;
    .btn-group {
      margin-top: 20px;
    }
  }
  .chosen-container {
    margin-top: 20px;
  }
}

#opinion {
  .info {
    margin: 10px 0;
    display: block;
    color: #969696;
    .auction-name {
      font-size: 16px;
      font-weight: bold;
      color: #333333;
    }
  }
  .modal-dialog {
    width: 350px;
  }
  .give-grade {
    padding-top: 10px;
    .pull-right {
      padding-bottom: 5px;
      i {
        cursor: pointer;
      }
      strong {
        margin-left: 5px;
        display: block;
        float: left;
        margin-top: 3px;
      }
    }
  }
}