.tabs {
  img {
    max-width: 100%;
  }
  .tab-pane {
    .block:first-child {
      padding-top: 17px;
    }
  }
}
.nav-tabs > li > a {
  font-size: 16px;
  font-family: $font-lato;
  background: #f5f5f5;
  border: 1px solid #dddddd;
  color: #9f9f9f;
  margin-right: 7px;
  &:hover {
    border: 1px solid #dddddd;
  }
  i {
    display: none;
    width: 25px;
  }
  .msg-amount {
    font-weight: 700;
    color: #fff;
    background: #18acea;
    float: right;
    display: inline-block;
    font-size: 12px;
    padding: 2px 6px 3px;
    margin-bottom: -2px;
    @include border-radius(3px);
  }
}
.nav-tabs > li.active > a {
  font-weight: bold;
  color: #0072bc !important;
}
.tab-content {
  background: #fff;
  border-bottom: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  .block {
    padding: 30px 20px;
    border-bottom: 1px solid #dddddd;
    .head {
      padding-bottom: 10px;
      width: 100%;
      display: block;
      font-family: $font-lato; font-size: 18px;
      font-weight: 700;
      .grey {
        font-size: initial;
        font-weight: initial;
        font-size: 14px;
        font-family: Arial, sans-serif;
      }
      i{
        width: 30px;
        position: relative; top: 5px;
      }
    }
    .chart {
      padding: 20px 0 0;
    }
    &:last-child {
      border-bottom: 0px solid;
    }
  }
}
#activities {
  .block {
    .head {
      padding-bottom: 20px;
    }
    .row {
      padding: 5px 0 10px;
      a {
        color: #18acea;
        &:hover {
          color: #428bca;
        }
      }
    }
    .date {
      color: #a9a9a9;
    }
  }
}
#archive, #opinions, #comments {
  .auction-list {
    margin-top: 0px;
    .board {
      border: 0px;
      padding-top: 0px;
    }
  }
  .block {
    border-bottom: 0px;
    padding-bottom: 17px;
  }
  .one-row {
    background: #fff!important;
    border: 0px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    &:before {
      background: #ddd;
    }
  }
  .list {
    border-bottom: 1px solid #ddd;
  }
  .grey, .owner {
    margin-right: 15px;
    line-height: 30px;
  }
  .select-offer {
    margin-right: 0;
  }
  .price {
    margin-right: 10px;
  }
  .bottom {
    border: 0px;
  }
}

#opinions, #comments {
  .auction-list .list .one-row h3 {
    color: #333!important;
  }
  .sq-green {
    display: inline-block;
    height: 15px;
    width: 15px;
    background: #2f9725;
    margin-top: 2px;
  }
  .sq-neutral {
    display: inline-block;
    height: 15px;
    width: 15px;
    background: #ddd;
    margin-top: 2px;
  }
  .sq-red {
    display: inline-block;
    height: 15px;
    width: 15px;
    background: #e74c3c;
    margin-top: 2px;
  }
}