#accept.modal.fade(tabindex='-1', role='dialog', aria-labelledby='accept', aria-hidden='true')
	.modal-dialog
		form.modal-content
			fieldset.modal-body
				.row
					.col-xs-16
						h4.text-center Czy na pewno chcesz wybrać tego przewoźnika i rozpocząć współpracę?
						.offer-details
							.offer-list
								.offer-table
									.row.offer-row
										.col-sm-1.col-md-2
											.counter 2
										.col-sm-6.col-md-5
											.price 1,500 zł
										.col-xs-6
											a(data-toggle="modal", href="#", data-target="#transporter").user S...s
												span (8)
											i.transport-red
			.actions.modal-footer
				button.btn.btn-default(type='button', data-dismiss='modal')
					i.stop
					| Anuluj
				input(type="submit", name="new-accept", value="Akceptuj", id="new-accept", class="action new-accept btn btn-primary")