#new-help.modal.fade(tabindex='-1', role='dialog', aria-labelledby='new-panel', aria-hidden='true')
	.modal-dialog
		form.modal-content
			fieldset.modal-body
				.row
					.col-xs-16
						h3 Tworzenie nowego wątku
						.grey
							| Wybierz z listy kategorię oraz opisz dokładnie problem
						select(data-placeholder="Wybierz kategorię", style="width: 238px")
							option
							option Kategoria 1
							option Kategoria 2
							option Kategoria 3
						.field.textarea
							label.hidden
							div
								textarea(id="help-desc", name="help-desc", rows="5")
			.actions.modal-footer
				button.btn.btn-default(type='button', data-dismiss='modal')
					i.stop
					| Anuluj
				input(type="submit", name="new-faq", value="Dodaj wątek", id="new-faq", class="action new-faq btn btn-primary")