#opinion.modal.fade(tabindex='-1', role='dialog', aria-labelledby='opinion', aria-hidden='true')
	.modal-dialog
		form.modal-content
			fieldset.modal-body
				.row
					.col-xs-16
						h3 Wystaw opinię
						.info
							| Aukcja: <span class="auction-name">Przewóz okien i drzwi</span>
							br
							| Przewoźnik: <span class="user">Adam N.. <span>(7)</span>
						select(data-placeholder="Wybierz ocenę", style="width: 100%")
							option
							option Pozytywna
							option Neutralna
							option Negatywna
				.row
					.col-xs-16
						.give-grade
							.row
								.col-xs-6
									| Kontakt:
								.col-xs-10
									.pull-right
										input(type="text", name="kontakt-grade", id="kontakt-grade", class="hidden kontakt-grade")
										i.star_gold.pull-left
										i.star.pull-left
										i.star.pull-left
										i.star.pull-left
										i.star.pull-left
										strong.final 1.0
							.row
								.col-xs-6
									| Czas realizacji:
								.col-xs-10
									.pull-right
										input(type="text", name="kontakt-grade", id="kontakt-grade", class="hidden czas-grade")
										i.star_gold.pull-left
										i.star.pull-left
										i.star.pull-left
										i.star.pull-left
										i.star.pull-left
										strong.final 1.0
							.row
								.col-xs-6
									| Ogólna ocena:
								.col-xs-10
									.pull-right
										input(type="text", name="kontakt-grade", id="kontakt-grade", class="hidden ogolna-grade")
										i.star_gold.pull-left
										i.star.pull-left
										i.star.pull-left
										i.star.pull-left
										i.star.pull-left
										strong.final 1.0
			.actions.modal-footer
				button.btn.btn-default(type='button', data-dismiss='modal')
					i.stop
					| Anuluj
				input(type="submit", name="new-opinion", value="Wystaw", id="new-opinion", class="action new-opinion btn btn-secondary")