#new-panel.modal.fade(tabindex='-1', role='dialog', aria-labelledby='new-panel', aria-hidden='true')
	.modal-dialog
		form.modal-content
			fieldset.modal-body
				.row
					.col-xs-16
						h3 Dodawanie panelu
						.grey
							| Wybierz z listy nowy panel, który chcesz zamieścić na swoim kokpicie
						select(data-placeholder="Wybierz panel", style="width: 230px")
							option
							option Skuteczność aukcji
							option Ostatnia aktywność
							option Raport konkurencyjności
			.actions.modal-footer
				button.btn.btn-default(type='button', data-dismiss='modal')
					i.stop
					| Anuluj
				input(type="submit", name="new-panel", value="Dodaj panel", id="new-panel", class="action new-panel btn btn-primary")