#transporter.modal.fade(tabindex='-1', role='dialog', aria-labelledby='transporter', aria-hidden='true')
	.modal-dialog
		form.modal-content
			.modal-header
				button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
				h4#transporter.modal-title Opinia przewoźnika
					span.user M...s <span>(4)</span>
			fieldset.modal-body
				.row
					.col-xs-16
						.statistic-title <strong>89%</strong> Pozytywnych opinii
							.pull-right.font-14 4 opinie
						.row.grade
							.col-md-6
								strong Podsumowanie:
								.clearfix
								| Pozytywne:
								span.green <strong>10</strong></br>
								| Neutralne:
								span.grey <strong>10</strong></br>
								| Negatywne:
								span.red <strong>10</strong></br>
							.col-md-10
								strong Średnia z 15 ocen realizacji
								.clearfix
								| Kontakt:
								.pull-right
									i.star_gold.pull-left
									i.star_gold.pull-left
									i.star.pull-left
									i.star.pull-left
									i.star.pull-left
									strong.final 5.0
								br
								| Czas realizacji:
								.pull-right
									i.star_gold.pull-left
									i.star_gold.pull-left
									i.star.pull-left
									i.star.pull-left
									i.star.pull-left
									strong.final 5.0
								br
								| Ogólna ocena:
								.pull-right
									i.star_gold.pull-left
									i.star_gold.pull-left
									i.star.pull-left
									i.star.pull-left
									i.star.pull-left
									strong.final 5.0
			.actions.modal-footer
				button.btn.btn-default(type='button', data-dismiss='modal')
					i.back-white
					| Powrót do mojej aukcji
				input(type="submit", name="view-transporter", value="Wyświetl pełny profil", id="view-transporter", class="action view-transporter btn btn-primary")