.ask
	.row
		.col-xs-16
			.ico-col
				i.message_bl
			.inside
				h2 Zadaj pytanie
				.row
					.col-lg-8
						form
							fieldset
								.field.select
									label Wybierz z listy najczęściej zadawanych listó
									div
										select(name="pytanie", id="pytanie", class="selectbox", style="width: 100%")
											option(value="Paczki") Paczki
											option(value="Lisy") Listy
								.field.textarea
									label Skomponuj wiadomość wiadomość
									div
									textarea(id="wiadomosc", name="wiadomosc")
							.actions.pull-right
								input(type="submit", name="send-message", value="Wyślij", class="action send-message", id="send-message")
							.clearfix
					.col-lg-8
						.talk
							.inside
								.msg.left
									.row
										.col-xs-6
											a(data-toggle="modal", href="#", data-target="#transporter").user M...s
												span (8)
											i.transport-red
										.col-xs-10
											.grey 13.02.204, 15:34:23
									.row
										.col-xs-16
											p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat
								.msg.right
									.row
										.col-xs-6
											a(data-toggle="modal", href="#", data-target="#transporter").user paolo34
												span (0)
										.col-xs-10
											.grey 13.02.204, 15:34:23
									.row
										.col-xs-16
											p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat