.header
	.row
		.col-md-9
			.ico-col
				i.delivery
			.inside
				h1 Dostawa towaru do Berlina
				| Zleceniodawca:
				a.owner Adam N..
					span (10)
				.date Data dodania: 08.02.2014
		.col-md-7.price
			span.select-offer Wybrana oferta
			span.price-box 1,000 zł
			button.btn.accept-offer.end
				i.ico_re.pull-left
				| Wystaw ponownie
			.date Zakończono: 13.02.2014, 15:34:23 <br/> Numer ogłoszenia: A2v37981
.clearfix