.offer-list.temp
	.row
		.col-xs-16
			.ico-col
				i.offers
			.inside
				h2 Okres przejściowy
				.grey Jesteś w trakcie dwugodzinnego okresu przejściowego. <br/>Możesz w tym czasie dogadać warunki współpracy lub zrezygnować z tej oferty.
				.row
					.col-md-7.col-lg-4
						.price
							span.select-offer Wybrana oferta
							span.price-box 1,000 zł
					.col-md-8
						| Przewoźnik:
						a(data-toggle="modal", href="#", data-target="#transporter").user S...s
							span (8)
							i.transport-red
				.row
					.col-md-7.col-lg-4
						a(href="#").btn.accept
							i.accept-offer
							| Akceptuj
						a(href="#").btn.decline
							i.decline-offer
							| Odrzuć
					.col-md-8
						.timer
							| <strong>Uwaga! </strong>Automatyczne nawiązywanie współpracy nastąpi za <strong> 1 godz. 43 min, 25 sek.</strong>
				.clearfix