.header
	.row
		.col-md-9
			.ico-col
				i.delivery
			.inside
				h1 Dostawa towaru do Berlina
				| Zleceniodawca:
				a.owner Adam N..
					span (10)
				.date Data dodania: 08.02.2014
		.col-md-7.price
			span.price-box 1,000 zł
			button.btn-success.btn.order
				i.deliver-white.pull-left
				| Złóż ofertę
			.date 15 dni, 20 godzin, 15minut do końca <br/> Numer ogłoszenia: A2v37981
.clearfix