#activities.tab-pane.fade
	.block
		.head
			| Ostatnie aktywności
		.row
			.col-xs-16
				- for (var i = 0; i < 15; i++)
					.row
						.col-md-12
							| Aukcja <a href="#"><strong>Palety z wełną mineralną</strong></a> została zakończona. Twoja oferta przegrała.
						.col-md-4
							.date 2014-02-08
		.clearfix