#archive.tab-pane.fade
	.block
		.head
			i.ico_auction_black.pull-left
			| Archiwum aukcji
		.row
			.col-xs-16
				.row
					.col-xs-16
						select(style="width: 150px")
							option Ostatnie 7 dni
							option Ostatnie 14 dni
						select(data-placeholder="Status aukcji", style="width: 150px")
							option Ostatnie 7 dni
							option Ostatnie 14 dni
						select(data-placeholder="Status realizacji", style="width: 150px")
							option Ostatnie 7 dni
							option Ostatnie 14 dni
		.clearfix
	.auction-list
		.board
			.row
				.list
					- for (var i = 4; i < 7; i++)
						.one-row.red
							.col-md-8.title
								a(href="#")
									h3
										i.down
										| Palety z wodą mineralną
							.col-md-6.last
								.pull-right
									.grey.pull-left
										| Zakończono: 2014-02-08
									span.select-offer 1 miejsce
							.col-md-2.last
								.price
									| 700zł
					- for (var i = 4; i < 7; i++)
						.one-row.green
							.col-md-8.title
								a(href="#")
									h3
										i.up
										| Palety z wodą mineralną
							.col-md-6.last
								.pull-right
									.grey.pull-left
										| Zakończono: 2014-02-08
									span.select-offer 1 miejsce
							.col-md-2.last
								.price
									| 700 zł
			.bottom
				.row
					.pull-right
						.counter.pull-left
							| 1-20 z 500
						.pagination-list.pull-left
							ul.pagination
								li.prev
									a(href="") <i class="ico_pagination_left"></i>
								li
									a(href="") 1
								li.active
									a(href="") 2
								li
									a(href="") 3
								li.break
									a(href="") ...
								li
									a(href="") 15
								li.next
									a(href="") <i class="ico_pagination_right"></i>
					.clearfix