#opinions.tab-pane.fade
	.block
		.head
			| Opinie o mnie
		.row
			.col-xs-16
				.row
					.col-xs-16.col-md-9
						.statistic-title <strong>89%</strong> Pozytywnych opinii
							.pull-right.font-14 4 opinie
						.row.grade
							.col-md-6
								strong Podsumowanie:
								.clearfix
								| Pozytywne:
								span.green <strong>10</strong></br>
								| Neutralne:
								span.grey <strong>10</strong></br>
								| Negatywne:
								span.red <strong>10</strong></br>
							.col-md-10
								strong Średnia z 15 ocen realizacji
								.clearfix
								| Kontakt:
								.pull-right
									i.star_gold.pull-left
									i.star_gold.pull-left
									i.star.pull-left
									i.star.pull-left
									i.star.pull-left
									strong.final 5.0
								br
								| Czas realizacji:
								.pull-right
									i.star_gold.pull-left
									i.star_gold.pull-left
									i.star.pull-left
									i.star.pull-left
									i.star.pull-left
									strong.final 5.0
								br
								| Ogólna ocena:
								.pull-right
									i.star_gold.pull-left
									i.star_gold.pull-left
									i.star.pull-left
									i.star.pull-left
									i.star.pull-left
									strong.final 5.0
					.col-xs-7
						.grey.sm-hidden
							| Użytkownik od 8.2010, 14:53:22
							br
							| Ostatnio logował się: 14.02.2014, 12:11:33

		.clearfix
	.auction-list
		.board
			.row
				.list
					.one-row.red
						.col-md-7.title
							a(href="#")
								h3
									i.sq-neutral
									| Palety z wodą mineralną
						.col-md-7.last
							.pull-right
								a(href="#").owner.pull-left
									| Adam N..<span>(10)</span>
								.grey.pull-left
									| Wystawiono: 2014-02-08
								span.select-offer 2 miejsce
						.col-md-2.last
							.price
								| 700zł
					- for (var i = 4; i < 7; i++)
						.one-row.red
							.col-md-7.title
								a(href="#")
									h3
										i.sq-red
										| Palety z wodą mineralną
							.col-md-7.last
								.pull-right
									a(href="#").owner.pull-left
										| Adam N..<span>(10)</span>
									.grey.pull-left
										| Wystawiono: 2014-02-08
									span.select-offer 2 miejsce
							.col-md-2.last
								.price
									| 700zł
					- for (var i = 4; i < 7; i++)
						.one-row.green
							.col-md-7.title
								a(href="#")
									h3
										i.sq-green
										| Palety z wodą mineralną
							.col-md-7.last
								.pull-right
									a(href="#").owner.pull-left
										| Adam N..<span>(10)</span>
									.grey.pull-left
										| Wystawiono: 2014-02-08
									span.select-offer 1 miejsce
							.col-md-2.last
								.price
									| 700 zł
			.bottom
				.row
					.pull-right
						.counter.pull-left
							| 1-20 z 500
						.pagination-list.pull-left
							ul.pagination
								li.prev
									a(href="") <i class="ico_pagination_left"></i>
								li
									a(href="") 1
								li.active
									a(href="") 2
								li
									a(href="") 3
								li.break
									a(href="") ...
								li
									a(href="") 15
								li.next
									a(href="") <i class="ico_pagination_right"></i>
					.clearfix