ul.nav.nav-tabs
	li.active
		a(href='#my-stats', data-toggle='tab') <i class="ico-my-stats"></i> Moje statystyki
	li
		a(href='#opinions', data-toggle='tab') <i class="ico-opinions"></i> Opinie o mnie
	li
		a(href='#archive', data-toggle='tab') <i class="ico-archive"></i> Archiwum aukcji
	li
		a(href='#activities', data-toggle='tab') <i class="ico-activities"></i> Ostatnie aktywności