.box
	.ico-col
		i.location
	.inside
		h2 Adresy transportu <a href="#" class="help"></a>
		.row
			.col-md-7.col-lg-5
				.row
					.col-xs-16
						.field.select
							label <strong>Miejsce załadunku</strong>
							div
								select(name="zaladunek", id="zaladunek", class="selectbox", data-placeholder="Wybierz z listy", style="width: 150px")
									option
									option(value="Zaladunek1") Zaladunek1
									option(value="Zaladunek2") Zaladunek2
				.row
					.col-md-15
						.field.select
							label.hidden
							div
								select(name="country-z", id="country-z", class="selectbox", data-placeholder="Wybierz kraj", style="width: 100%")
									option
									option(value="Kraj1") Kraj1
									option(value="Kraj2") Kraj2
				.row
					.col-md-15.pr-0
						.row
							.col-md-9
								.field.text.required
									label.hidden
									div
										input(type="text", name="miasto-z", id="miasto-z", class="text", placeholder="Miasto")
							.col-md-7
								.field.text.required
									label.hidden
									div
										input(type="text", name="kod-z", id="kod-z", class="text", placeholder="Kod pocztowy")
				.row
					.col-md-15.pr-0
						.row
							.col-md-11
								.field.text
									label.hidden
									div
										input(type="text", name="ulica-z", id="ulica-z", class="text", placeholder="Ulica")
							.col-md-5
								.field.text
									label.hidden
									div
										input(type="text", name="numer-z", id="numer-z", class="text", placeholder="Numer")
			.col-md-7.col-lg-5
				.row
					.col-xs-16
						.field.select
							label <strong>Miejsce dostawy</strong>
							div
								select(name="dostawa", id="dostawa", class="selectbox", data-placeholder="Wybierz z listy", style="width: 150px")
									option
									option(value="Dostawa1") Dostawa1
									option(value="Dostawa2") Dostawa2
				.row
					.col-md-15
						.field.select
							label.hidden
							div
								select(name="country-d", id="country-d", class="selectbox", data-placeholder="Wybierz kraj", style="width: 100%")
									option
									option(value="Kraj1") Kraj1
									option(value="Kraj2") Kraj2
				.row
					.col-md-15.pr-0
						.row
							.col-md-9
								.field.text.required
									label.hidden
									div
										input(type="text", name="miasto-d", id="miasto-d", class="text", placeholder="Miasto")
							.col-md-7
								.field.text.required
									label.hidden
									div
										input(type="text", name="kod-d", id="kod-d", class="text", placeholder="Kod pocztowy")
				.row
					.col-md-15.pr-0
						.row
							.col-md-11
								.field.text
									label.hidden
									div
										input(type="text", name="ulica-d", id="ulica-d", class="text", placeholder="Ulica")
							.col-md-5
								.field.text
									label.hidden
									div
										input(type="text", name="numer-d", id="numer-d", class="text", placeholder="Numer")
	.clearfix