.box
	.ico-col
		i.transport
	.inside
		h2 Preferowana data <a href="#" class="help"></a>
		.row
			.col-md-7.col-lg-5
				.row
					.col-md-11
						.field.date
							label <strong>Data załadunku</strong> <span>*</span>
							div
								.input-group.date(data-date-format="YYYY-MM-DD")
									input(type="text", name="data-z", id="data-z").form-control
									span.input-group-addon
										i.calendar
				.row
					.col-xs-16
						.field.checkbox
							label.hidden
							div
								label(for="elastic-z").label-check
									input(type="checkbox", name="elastic-z", id="elastic-z")
									.chck
									| Termin jest elastyczny
			.col-md-7.col-lg-5
				.row
					.col-md-11
						.field.date
							label <strong>Data dostawy</strong> <span>*</span>
							div
								.input-group.date(data-date-format="YYYY-MM-DD")
									input(type="text", name="data-d", id="data-d").form-control
									span.input-group-addon
										i.calendar
				.row
					.col-xs-16
						.field.checkbox
							label.hidden
							div
								label(for="elastic-d").label-check
									input(type="checkbox", name="elastic-d", id="elastic-d")
									.chck
									| Termin jest elastyczny
	.clearfix
	a(href="#").add-next
		i.add
		| Dodaj kolejną aukcję