.box
	.ico-col
		i.ico_person
	.inside
		h2 Dane kontaktowe <a href="#" class="help"></a>
		.row
			.col-md-7.col-lg-5
				.row
					.col-xs-16
						.field.select
							label <strong>Nadawca</strong>
							div
								select(name="nadawca", id="nadawca", class="selectbox", data-placeholder="Wybierz z listy", style="width: 150px")
									option
									option(value="Nadawaca1") Nadawaca1
									option(value="Nadawaca2") Nadawaca2
				.row
					.col-md-12
						.field.text
							label.hidden
							div
								input(type="text", name="mp", id="mp", class="text", placeholder="Imię i nazwisko")
				.row
					.col-md-12
						.field.text
							label.hidden
							div
								input(type="text", name="mp", id="mp", class="text", placeholder="Telefon kontaktowy")
				.row
					.col-xs-16
						.field.checkbox
							label.hidden
							div
								label(for="nadawca-firma").label-check
									input(type="checkbox", name="nadawca-firma", id="nadawca-firma")
									.chck
									| Nadawca jest firmą
			.col-md-7.col-lg-5
				.row
					.col-xs-16
						.field.select
							label <strong>Odbiorca</strong>
							div
								select(name="odbiorca", id="odbiorca", class="selectbox", data-placeholder="Wybierz z listy", style="width: 150px")
									option
									option(value="Odbiorca1") Odbiorca1
									option(value="Odbiorca2") Odbiorca2
				.row
					.col-md-12
						.field.text
							label.hidden
							div
								input(type="text", name="mp", id="mp", class="text", placeholder="Imię i nazwisko")
				.row
					.col-md-12
						.field.text
							label.hidden
							div
								input(type="text", name="mp", id="mp", class="text", placeholder="Telefon kontaktowy")
				.row
					.col-xs-16
						.field.checkbox
							label.hidden
							div
								label(for="odbiorca-firma").label-check
									input(type="checkbox", name="odbiorca-firma", id="odbiorca-firma")
									.chck
									| Odbiorca jest firmą
	.clearfix