.box
	.ico-col
		i.delivery-desc
	.inside
		h2 Parametry przesyłki <a href="#" class="help"></a>
		.row
			.col-md-3
				.field.text.required
					label.hidden
					div
						input(type="text", name="dlugosc", id="dlugosc", class="text", placeholder="Długość (m)")
			.col-md-3
				.field.text.required
					label.hidden
					div
						input(type="text", name="szerokosc", id="szerokosc", class="tex", placeholder="Szerokość (m)")
			.col-md-3
				.field.text.required
					label.hidden
					div
						input(type="text", name="wysokosc", id="wysokosc", class="text", placeholder="Wysokość (m)")
			.col-md-3
				.field.text.required
					label.hidden
					div
						input(type="text", name="waga", id="waga", class="text", placeholder="Waga brutto (kg)")
			.col-md-3
				.field.text.required
					label.hidden
					div
						input(type="text", name="objetosc", id="objetosc", class="text", placeholder="Objętość (m3)")
		.row
			.col-xs-16
				.field.checkbox
					label.hidden
					div
						label(for="not-sure").label-check
							input(type="checkbox", name="not-sure", id="not-sure")
							.chck
							| Nie jestem pewny wymiarów (wartości są przybliżone)
		.row
			.col-md-3.col-lg-2
				.field.text.required
					label.hidden
					div
						input(type="text", name="dlugosc", id="dlugosc", class="text", placeholder="Ilość sztuk")
			.col-md-3.col-lg-2
				.field.text
					label.hidden
					div
						input(type="text", name="mp", id="mp", class="text", placeholder="MP")
			.col-md-6
				.field.select
					label.hidden
					div
						select(name="package", id="package", class="selectbox", data-placeholder="Rodzaj opakowania", style="width: 210px")
							option
							option(value="Szablon moj") Mój szablon
							option(value="Szablon systemowy") Szablon systemowy
	.clearfix