.box
	.ico-col
		i.delivery
	.inside
		h2 Ustawienia aukcji <a href="#" class="help"></a>
		.row
			.col-xs-16
				.field.select
					label.blue <strong>Wybierz kategorię</strong>
					div
						select(name="categorie", id="categorie", class="selectbox", style="width: 220px")
							option(value="Paczki") Paczki
							option(value="Lisy") Listy
		.row
			.col-md-10.col-lg-7
				.field.text
					label <strong>Tytuł aukcji</strong> (maksimum 300 znaków) <span>*</span>
					div
						input(type="text", name="auction-title", id="auction-title", class="text")
		.row
			.col-md-10.col-lg-7
				.field.textarea
					label <strong>Zaproś przewoźników</strong>
					div
						textarea(id="zapros", name="zapros", placeholder="Wpisz przewoźników po przecinku", rows="5")
	.clearfix