.block.area
	label Zasięg terytorialny
	.field.text
		label Miejsce załadunku
		div
			select(name="country", id="country", class="selectbox")
				option(value="Polska") Polska
				option(value="Wielka Brytania") Wielka Brytania
			input(type="text", name="city", id="city", class="text", placeholder="Miasto lub kod pocztowy")
	.field.text
		label Miejsce rozładunku
		div
			select(name="country", id="country", class="selectbox")
				option(value="Polska") Polska
				option(value="Wielka Brytania") Wielka Brytania
			input(type="text", name="city", id="city", class="text", placeholder="Miasto lub kod pocztowy")