.block.categories
	label Kategorie przesyłek
	- for (var i = 0; i < 5; i++)
		.field.checkbox
			label.hidden
			div
				label(for="row#{i}").label-check
					input(type="checkbox", name="row#{i}", id="row#{i}")
					.chck
					strong Specjalnej ostrożności <span>(18)</span>