.block.parameters
	label Parametry przesyłki
	.field.text
		label Waga brutto (kg)
		div
			input(type="text", name="weight-brutto", id="weight-brutto", class="text")
	.field.text
		label Objętość (m<sup>3</sup>)
		div
			input(type="text", name="capacity", id="capacity", class="text")