.block.theme
	.field.select
		label Filtruj wg własnego szablonu
		div
			select(name="theme", id="theme", class="selectbox")
				option(value="Szablon moj") Mój szablon
				option(value="Szablon systemowy") Szablon systemowy