.details.stat
	h4 Opinie o przewoźniku
	.row
		.col-md-5
			.statistic-box
				.box
					input(type="text", value="100", data-width="155", data-bgColor="#d4d4d4", data-fgColor="#18acea", data-thickness=.05, readOnly="true", data-displayInput="false", class="dial")
					.stats
						span.number 37
						br
						br
						.grey podjętych zleceń
			.clearfix
			.title
				i.ico_zap_blue
				span Liczba podjętych zleceń
		.col-md-5
			.statistic-box
				.box
					input(type="text", value="75", data-width="155", data-bgColor="#d4d4d4", data-fgColor="#44b01e", data-thickness=.05, readOnly="true", data-displayInput="false", class="dial")
					.stats
						span.number 75
						br
						br
						.grey.font-25 100
			.clearfix
			.title
				i.ico_ok_green
				span Zrealizowane zlecenia
		.col-md-5
			.statistic-box
				.box
					input(type="text", value="25", data-width="155", data-bgColor="#d4d4d4", data-fgColor="#e74c3c", data-thickness=.05, readOnly="true", data-displayInput="false", class="dial")
					.stats
						span.number 25
						br
						br
						.grey.font-25 100
			.clearfix
			.title
				i.ico_not_ok_red
				span Niezrealizowane zlecenia