.header
		h1 Profil przewoźnika:
			span.user M..s <span>(1)</span>
		.clearfix
		h4 Opinie o przewoźniku
		.row
			.col-xs-16.col-md-9
				.statistic-title <strong>89%</strong> Pozytywnych opinii
					.pull-right.font-14 4 opinie
				.row.grade
					.col-md-6
						strong Podsumowanie:
						.clearfix
						| Pozytywne:
						span.green <strong>10</strong></br>
						| Neutralne:
						span.grey <strong>10</strong></br>
						| Negatywne:
						span.red <strong>10</strong></br>
					.col-md-10
						strong Średnia z 15 ocen realizacji
						.clearfix
						| Kontakt:
						.pull-right
							i.star_gold.pull-left
							i.star_gold.pull-left
							i.star.pull-left
							i.star.pull-left
							i.star.pull-left
							strong.final 5.0
						br
						| Czas realizacji:
						.pull-right
							i.star_gold.pull-left
							i.star_gold.pull-left
							i.star.pull-left
							i.star.pull-left
							i.star.pull-left
							strong.final 5.0
						br
						| Ogólna ocena:
						.pull-right
							i.star_gold.pull-left
							i.star_gold.pull-left
							i.star.pull-left
							i.star.pull-left
							i.star.pull-left
							strong.final 5.0
			.col-xs-7
				.grey.sm-hidden
					| Użytkownik od 8.2010, 14:53:22
					br
					| Ostatnio logował się: 14.02.2014, 12:11:33
.clearfix