.details
	.row
		.col-md-10.col-lg-8
			.box
				.ico-col
					i.location
				.inside
					h2 Adresy transportu
					.row
						.col-md-8
							div
								strong Miejsce załadunku
							img(src="/images/sprites/flag_pl.png")
							strong  Polska
							.grey Wrocław
								br
								| ul. Dziadoszańska 250
						.col-md-8
							div
								strong Miejsce dostawy
							img(src="/images/sprites/flag_de.png")
							strong  Niemcy
							.grey Berlin
								br
								| Brusseler Str. 89-93
			.box
				.ico-col
					i.transport
				.inside
					h2 Terminy transportu
					.row
						.col-md-8
							.grey
								strong Termin nadania
								br
								| 2013-02-08
						.col-md-8
							.grey
								strong Termin dostawy
								br
								| 2014-02-08
			.box
				.ico-col
					i.delivery-desc
				.inside
					h2 Opis przesyłki
					.row
						.col-md-8
							.grey
								| Długość [m]: <strong> 100 </strong>
								br
								| Szerokość [m]: <strong> 60 </strong>
								br
								| Wysokość [m]: <strong> 30 </strong>
						.col-md-8
							.grey
								| Waga [kg]: <strong> 10 </strong>
								br
								| Ilość sztuk: <strong> 4 </strong>
		.hidden-sm.col-md-6.col-lg-8
			#map_canvas