.offer-list
	.row
		.col-xs-16
			.ico-col
				i.offers
			.inside
				h2 Oferty Współpracy
				.grey Pobierz list przewozowy, po zakończonej współpracy wystaw opinię o współpracy
				.offer-table
					.row.offer-row.alt
						.col-sm-16.col-md-6.col-lg-4
							span.select-offer.pull-left Wybrana oferta
							span.price-box.line 1,000 zł
						.col-sm-16.col-md-6.col-lg-4
							.grey.pull-left
								| Przewoźnik:
							a(data-toggle="modal", href="#", data-target="#transporter").user M...s
								span (8)
								i.transport-red
				.clearfix
				button.btn.accept-offer.download
					| Pobierz list przewozowy