.four-zero-four
	.header
		.row
			.col-xs-16
				h1 Nie znaleziono aukcji
				.grey Having a good Error 404 page is perhaps as important as having great contents. Sometimes it may not be your fault visitors landed on error pages.
				a(href="#") Powrót do kokpitu