.header
	i.ico_filter.pull-left
	| Filtrowanie
.clearfix
form
	fieldset
		include _form/_theme
		include _form/_categories
		include _form/_parameters
		include _form/_area
	.actions
		input(type="submit", name="save-filter", value="Zapisz szablon filtrowania", class="action", id="save-filter")