.auction-list
	.header
		i.ico_auction.pull-left
		| Lista aktualnych aukcji
	.clearfix
	.board
		.head
			.row
				include _pagination
		.row
			.list
				include _row
				include _row_red
				include _row
				include _row
				include _row_green
		.bottom
			.row
				include _pagination_bottom