.pull-right
	.counter.pull-left
		| 1-20 z 500
	.pagination-list.pull-left
		ul.pagination
			li.prev
				a(href="") <i class="ico_pagination_left"></i>
			li
				a(href="") 1
			li.active
				a(href="") 2
			li
				a(href="") 3
			li.break
				a(href="") ...
			li
				a(href="") 15
			li.next
				a(href="") <i class="ico_pagination_right"></i>
