.one-row
	.col-md-7.title
		a(href="#")
			h3
				i.ico_del_gr
				| Palety z wodą mineralną
			.sub <strong>Koniec aukcji: </strong> 08.02.2014
	.col-md-5.transport
		i.ico_place
		| <strong>Polska,</strong> Poznań <br/>
		i.ico_place_up
		| <strong>Polska,</strong> Poznań
	.col-md-4.last
		.info
			span.note nie bierzesz udziału
			.price
				| 700 zł
				span.smaller (13 ofert)