.nav-tabs {
  i {
    width: 25px !important;
    margin-bottom: -2px;
    &.ico-my-settings{
      @include sprite-dimensions($sprites, ico_settings_black);
      background: sprite($sprites, ico_settings_black);
      margin-bottom: -3px;
    }
    &.ico-messages{
      @include sprite-dimensions($sprites, ico_messages_black);
      background: sprite($sprites, ico_messages_black);
      margin-bottom: -1px;
    }
    &.ico-themes{
      @include sprite-dimensions($sprites, ico_themes_black);
      background: sprite($sprites, ico_themes_black);
    }
    &.ico-employees{
      @include sprite-dimensions($sprites, ico_employ_black);
      background: sprite($sprites, ico_employ_black);
    }
    &.ico-comments{
      @include sprite-dimensions($sprites, ico_message_bl);
      background: sprite($sprites, ico_message_bl);
      margin-bottom: -3px;
    }
    &.ico-invites{
      @include sprite-dimensions($sprites, ico_invites_black);
      background: sprite($sprites, ico_invites_black);
      margin-bottom: -3px;
    }
    &.ico-help{
      @include sprite-dimensions($sprites, ico_help_black);
      background: sprite($sprites, ico_help_black);
      margin-bottom: -3px;
    }
    &.ico-statues{
      @include sprite-dimensions($sprites, ico_statue_black);
      background: sprite($sprites, ico_statue_black);
      margin-bottom: -3px;
    }
  }
  .active {
    i {
      &.ico-my-settings{
        @include sprite-dimensions($sprites, ico_settings_blue);
        background: sprite($sprites, ico_settings_blue);
      }
      &.ico-messages{
        @include sprite-dimensions($sprites, ico_messages_blue);
        background: sprite($sprites, ico_messages_blue);
      }
      &.ico-themes{
        @include sprite-dimensions($sprites, ico_themes_blue);
        background: sprite($sprites, ico_themes_blue);
      }
      &.ico-employees{
        @include sprite-dimensions($sprites, ico_employ_blue);
        background: sprite($sprites, ico_employ_blue);
      }
      &.ico-comments{
        @include sprite-dimensions($sprites, ico_message_blue);
        background: sprite($sprites, ico_message_blue);
      }
      &.ico-invites{
        @include sprite-dimensions($sprites, ico_invites_blue);
        background: sprite($sprites, ico_invites_blue);
      }
      &.ico-help{
        @include sprite-dimensions($sprites, ico_help_blue);
        background: sprite($sprites, ico_help_blue);
      }
      &.ico-statues{
        @include sprite-dimensions($sprites, ico_statue_blue);
        background: sprite($sprites, ico_statue_blue);
      }
    }
  }
}
.tab-content #my-settings .block {
  border-bottom: 0px;
}
.tabs.sub {
  margin-top: -27px;
  .nav-tabs {
    margin-left: 20px;
    position: relative;
    &:before {
      content: '';
      display: block;
      height: 1px;
      width: 20px;
      background: #ddd;
      bottom: -1px;
      left: -20px;
      position: absolute;
    }
  }
  .tab-content {
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
  }
}

#my-settings {
  .actions {
    border: 0px;
    padding: 0px;
    margin-top: 25px;
    input[type="submit"] {
      width: auto;
      float: right;
      margin-left: 10px;
      padding-left: 35px;
      background: #0072bc url(../images/ico_changes.png) no-repeat 11px 9px;
      &:hover {
        background: #18acea url(../images/ico_changes.png) no-repeat 11px 9px;
      }
    }
  }
  .info {
    padding: 20px 20px 0;
  }
  .table {
    padding: 20px;
    line-height: 25px;
  }
  .sub {
    .block:first-child {
      padding-bottom: 0;
      .head {
        padding-bottom: 0;
        .grey {
          padding-bottom: 0;
        }
      }
    }
  }
}

#statues {
   text-align: center;
  .block {
    border-bottom: 0px;
    padding-bottom: 10px;
  }
  .wrapper {
    padding: 0 0 20px 30px;
    background: #f4f4f4;
    border: 1px solid #d1d1d1;
    max-height: 420px;
    height: 100%;
    text-align: left;
    overflow: hidden;
    .mCSB_container {
      padding-right: 20px;
      padding-top: 20px;
    }
    .mCSB_scrollTools {
      right: -3px;
      .mCSB_dragger_bar {
        width: 10px;
        background: #b8b8b8;
        @include border-radius(0px !important);
      }
      .mCSB_draggerRail {
        width: 10px;
        border: 0px;
        background: #dadada;
        border-left: 1px solid #d1d1d1;
        @include border-radius(0px !important);
      }
    }
    p {
      padding-bottom: 25px;
      color: #7d7d7d;
      line-height: 20px;
      a {
        color: #18acea;
        &:hover {
          text-decoration: underline;
          color: #18acea;
        }
      }
      strong {
        color: #252525;
        display: block;
        padding-bottom: 5px;
        font: 16px $font-lato;
        font-weight: 700;
      }
    }
  }
  .accept {
    background: #0072bc;
    color: #fff;
    font-weight: bold;
    padding-left: 4px;
    padding-top: 6px;
    padding-bottom: 7px;
    margin: 20px 0;
    &:hover {
      color: #fff;
      background: #18acea;
    }
    i {
      display: inline-block;
      margin-bottom: -6px;
    }
  }
}

#help {
  .head {
    padding-bottom: 0;
    .save {
      background: #0072bc;
      float: right;
      color: #fff;
      font-weight: bold;
      padding-left: 10px;
      padding-top: 6px;
      padding-bottom: 7px;
      &:hover {
        color: #fff;
        background: #18acea;
      }
      i {
        display: inline-block;
        top: 2px;
        margin-right: 10px;
        @include sprite-dimensions($sprites, ico_changes);
        background: sprite($sprites, ico_changes);
      }
    }
  }
  .block {
    border-bottom: 0px;
    padding: 20px;
    &:first-child {
      padding-bottom: 0px;
    }
  }
  .accordio {
    &.active {
      .title {
        font-weight: 700;
        color: #0072bc;
        i {
          background: sprite($sprites, circle_arrow_on);
        }
      }
    }
    .title {
      font: 21px $font-lato;
      color: #252525;
      cursor: pointer;
      margin-bottom: 10px;
      &:hover {
        color: #0072bc;
        i {
          background: sprite($sprites, circle_arrow_on);
        }
      }
      i {
        @include sprite-dimensions($sprites, circle_arrow_off);
        background: sprite($sprites, circle_arrow_off);
        display: inline-block;
        margin-right: 17px;
        margin-bottom: -1px;
      }
    }
    .body {
      padding: 40px;
      background: #ebebeb;
      margin-top: 10px;
      margin-bottom: 20px;
      font:16px/24px $font-lato;
      color: #323232;
      display: none;
      a {
        color: #18acea;
        &:hover {
          text-decoration: underline;
          color: #18acea;
        }
      }
    }
  }
}

#new-help {
  .modal-dialog {
    max-width: 300px;
  }
  .chosen-container {
    margin: 10px 0;
  }
}

#invites {
  .grey {
    color: #919191;
  }
  a {
    font-weight: bold;
    color: #0072bc;
  }
  .list {
    padding: 20px;
    line-height: 25px;
    .none {
      width: 100%;
      height: 1px;
      display: block;
      background: #d8d8d8;
      max-width: 135px;
      margin-top: 12px;
    }
  }
}

#employees {
  .block {
    border-bottom: 0;
    padding-bottom: 0;
  }
  .table {
    padding: 20px;
    line-height: 25px;
  }
  .text {
    input {
      padding: 0px 5px;
    }
    label {
      font-size: 14px;
      color: #333333;
    }
  }

  .data {
    .field {
      margin-bottom: 0;
      label {
        margin-bottom: 0;
      }
      input {
        display: none;
      }
    }
    .actions {
      padding: 0;
      margin: 0;
      border: 0;
      #edit {
        display: inline-block;
        @include sprite-dimensions($sprites, ico_changes_edit);
        background: sprite($sprites, ico_changes_edit);
        margin: 0 2px;
      }
      #delete {
        display: inline-block;
        @include sprite-dimensions($sprites, ico_delete);
        background: sprite($sprites, ico_delete);
        margin: 0 2px;
      }
      &.edit {
        display: none;
        input {
          width: auto;
          float: left;
          padding-left: 30px;
          padding-top: 6px;
          padding-bottom: 6px;
          background: #0072bc url(../images/ico_changes.png) no-repeat 8px 7px;
          &:hover {
            background: #18acea url(../images/ico_changes.png) no-repeat 8px 7px;
          }
        }
      }
    }
    &.editing {
      margin-top: 5px;
      .field {
        label {
          display: none;
        }
        input {
          display: block;
        }
      }
      .actions {
        #edit, #delete {
          display: none;
        }
        &.edit {
          display: block;
        }
      }
    }
  }
  .visible-xs {
    .grey {
      line-height: 18px;
      margin-top: 10px;
    }
  }
  .new {
    margin-bottom: 50px;
    font-size: 13px;
    background-color: #389417;
    color: #FFF;
    font-weight: bold;
    padding-left: 7px;
    padding-right: 10px;
    margin-top: 20px;
    display: inline-block !important;
    &:hover {
      background: #256b0c;
    }
    i {
      display: inline-block;
      margin: 0 7px -4px 0;
    }
  }
}

#messages {
  > .row {
    .col-md-8:first-child {
      padding-right: 0;
    }
    .col-md-8:last-child {
      padding-left: 0;
    }
  }
  .head {
    .btn {
      font-size: 14px;
      background-color: #389417;
      color: #FFF;
      font-weight: bold;
      padding: 5px 10px;
      display: inline-block !important;
      float: right;
      &:hover {
        background: #256b0c;
      }
    }
  }
  .block {
    padding-bottom: 5px;
    border-bottom: 0px;
    padding-top: 5px;
    &:first-child {
      padding-top: 17px;
    }
    .read {
      font-weight: bold;
      color: #0072bc;
      &:hover {
        color: #18acea;
      }
    }
  }
  .messages {
    .row {
      line-height: 23px;
      padding: 5px 0;
      margin-right: 0px;
      margin-left: 0px;
      a {
        color: #333333;
        &:hover {
          text-decoration: underline;
        }
      }
      .checkbox {
        margin-bottom: 0;
        float: right;
      }
      &.selected {
        background: #0072bc;
        color: #fff;
        .grey {
          color: #fff;
        }
        .title {
          font-weight: bold;
          color: #fff;
          &:hover {
            color: #fff;
          }
        }
      }
      &.to-read {
        .title {
          font-weight: bold;
        }
      }
      .col-md-10 {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}
.talk {
  background: #f5f5f5;
  border-left: 1px solid #e4e4e4;
  width: 100%;
  height: 100%;
  display: block;
  padding: 25px 40px;
  min-height: 475px;
  form {
    .textarea label {
      padding-top: 15px;
    }
  }
  .mCSB_container {
    padding: 0 10px;
  }
  .mCSB_scrollTools {
    right: -3px;
    .mCSB_dragger_bar {
      background: #b8b8b8;
      @include border-radius(0px !important);
    }
    .mCSB_draggerRail {
      border: 0px;
      background: #dadada;
      border-left: 1px solid #d1d1d1;
      @include border-radius(0px !important);
    }
  }
  .actions {
    padding: 0;
    border: 0;
    .send-message {
      color: #FFF;
      font-weight: bold;
      padding-left: 35px;
      padding-right: 10px;
      width: auto;
      min-width: 0px;
      background: #0072bc url(../images/ico_messages_white.png) no-repeat 9px 10px;
      &:hover {
        background: #18acea url(../images/ico_messages_white.png) no-repeat 9px 10px;
      }
    }
  }
  .inside {
    width: 100%;
    height: 400px;
    overflow: hidden;
  }
  .msg {
    padding: 15px 0 25px 15px;
    margin-bottom: 15px;
    width: 95%;
    .grey {
      text-align: right;
      margin-bottom: 10px;
    }
    p {
      font: 13px/18px Arial, sans-serif;
    }
    &.left {
      background: #e9f6ff;
      border: 1px solid #bcd8eb;
      @include border-radius(3px);
      position: relative;
      &:before {
        content: '';
        position: absolute;
        top: 25px; left: -11px;
        display: block;
        @include sprite-dimensions($sprites, triangle-left);
        background: sprite($sprites, triangle-left);
      }
    }
    &.right {
      background: #fff;
      margin-left: 5%;
      border: 1px solid #ccc;
      @include border-radius(3px);
      position: relative;
      &:before {
        content: '';
        position: absolute;
        top: 25px; right: -11px;
        display: block;
        @include sprite-dimensions($sprites, triangle-right);
        background: sprite($sprites, triangle-right);
      }
    }
  }
}

#themes {
  .block {
    border-bottom: 0;
    padding-bottom: 0;
  }
  .table {
    padding: 20px;
    line-height: 25px;
  }
  .actions {
    padding: 0;
    margin: 0;
    border: 0;
    margin-top: -7px;
    #edit {
      display: inline-block;
      @include sprite-dimensions($sprites, ico_changes_block);
      background: sprite($sprites, ico_changes_block);
      margin: 0 2px;
    }
    #delete {
      display: inline-block;
      @include sprite-dimensions($sprites, ico_delete);
      background: sprite($sprites, ico_delete);
      margin: 0 2px;
    }
  }
  .new {
    margin-bottom: 50px;
    font-size: 13px;
    background-color: #389417;
    color: #FFF;
    font-weight: bold;
    padding-left: 7px;
    padding-right: 10px;
    margin-top: 20px;
    display: inline-block !important;
    &:hover {
      background: #256b0c;
    }
    i {
      display: inline-block;
      margin: 0 7px -4px 0;
    }
  }
  .tabs.sub {
    margin-top: 3px;
  }
}

#reminders {
  .question {
    line-height: 30px;
    margin-right: 10px;
    float: left;
  }
}

#finance {
  .red {
    font-weight: bold;
  }
  .table {
    .row {
      margin-bottom: 10px;
      &:first-child {
        margin-bottom: 5px;
      }
    }
  }
  .download {
    font-weight: bold;
    color: #333;
    i {
      display: inline-block;
      @include sprite-dimensions($sprites, ico_download_pdf);
      background: sprite($sprites, ico_download_pdf);
      margin: -3px 5px -2px 0;
    }
    &:hover {
      text-decoration: underline;
    }
  }
  .pay {
    background: #0072bc;
    color: #fff;
    font-weight: bold;
    padding: 3px 4px 4px 7px;
    margin-top: -3px;
    i {
      @include sprite-dimensions($sprites, ico_card);
      background: sprite($sprites, ico_card);
      display: inline-block;
      margin: 2px 5px -2px 0;
    }
    &:hover {
      background: #18acea;
    }
  }
  .none {
    width: 100%;
    height: 1px;
    display: block;
    background: #d8d8d8;
    max-width: 135px;
    margin-top: 12px;
  }
  .stan {
    .final {
      font-size: 25px;
      padding: 0 5px;
      font-weight: bold;
      color: #e74c3c;
      vertical-align: -3px;
    }
    .upto {
      font-size: 25px;
      padding: 0 5px;
      font-weight: bold;
      color: #333;
      vertical-align: -3px;
    }
  }
}

#my-services {
  .actions {
    padding: 0;
    margin: 0;
    input {
      padding: 0 !important;
      background: none !important;
      color: #333;
      display: initial;
      padding: 0 !important;
      margin: 0 !important;
      float: none !important;
      font-weight: bold;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .turn {
    color: #919191;
    font-weight: bold;
    i {
      @include sprite-dimensions($sprites, ico_turned_off);
      background: sprite($sprites, ico_turned_off);
      display: inline-block;
      margin: 2px 5px -2px;
    }
    &.on {
      color: #479e3f;
      i {
        @include sprite-dimensions($sprites, ico_turned_on);
        background: sprite($sprites, ico_turned_on);
      }
    }
  }
}

#docs {
  .documents {
    .download {
      font-weight: bold;
      color: #333;
      display: block;
      margin: 10px 0;
      i {
        display: inline-block;
        @include sprite-dimensions($sprites, ico_download_pdf);
        background: sprite($sprites, ico_download_pdf);
        margin: -3px 5px -2px 0;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .new-doc {
    font-size: 13px;
    background: #0072bc;
    color: #FFF;
    font-weight: bold;
    padding: 7px 10px 7px 10px;
    margin: 20px 0;
    display: inline-block !important;
    &:hover {
      background: #18acea;
    }
    i {
      display: inline-block;
      @include sprite-dimensions($sprites, ico_new_doc);
      background: sprite($sprites, ico_new_doc);
      margin: 0 7px -3px 0;
    }
  }
}

#comments {
  .head {
    .grey {
      line-height: initial!important;
    }
  }
  .one-row {
    border: 0px!important;
    padding-right: 10px!important;
    padding-left: 10px!important;
  }
  .one-row:before {
    display: none!important;
  }
  .block {
    border-bottom: 0;
  }
  .statistic-title {
    padding: 10px 15px;
    margin-bottom: 17px;
  }
  .auction-list .board {
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
    padding-bottom: 0px;
  }
  .list {
    border-bottom: 0px;
    .last {
      .warning {
        display: inline-block;
        @include sprite-dimensions($sprites, ico_warning);
        background: sprite($sprites, ico_warning);
        margin: 2px 0 0 5px;
      }
    }
  }
  .none {
    height: 1px;
    display: block;
    background: #d8d8d8;
    margin-top: 15px;
    width: 120px;
  }
  .add-new-opinion {
    background-color: #389417;
    color: #fff;
    font-weight: bold;
    padding: 3px 6px 4px 7px;
    margin-left: 10px;
    margin-bottom: 4px;
    i {
      display: inline-block;
      margin: 0 6px -3px 0;
      @include sprite-dimensions($sprites, ico_message_white);
      background: sprite($sprites, ico_message_white);
    }
    &:hover {
      background: #256b0c;
    }
  }
  .stars {
    line-height: 27px;
    display: inline-block;
    .star, .star_gold {
      margin-top: 5px;
    }
    strong {
      margin-left: 5px;
      margin-right: 15px;
      font-family: Arial, sans-serif;
    }
  }
}