.price-box {
  font-family: $font-lato;
  font-size: 25px;
  color: #252525;
  font-weight: 700;
  margin-right: 5px;
}
.offers-back {
  padding: 20px 0;
  color: #777;
  cursor: pointer;
}



.ico-col {
  display: block;
  width: 40px;
  text-align: center;
  float: left;
  i {
    display: inline-block;
  }
}
.details {
  .ico-col {
    i {
      display: block;
    }
  }
}
.inside {
  display: block;
  float: left;
  width: 90%;
  .row {
    margin-right: 0;
  }
}

.offer-details, .four-zero-four {
  border: 1px solid #CCC;
  border-radius: 5px;
  background-color: #FFF;
  .header {
    padding: 25px 25px 25px 15px;
    border-bottom: 1px solid #CCC;
    overflow: auto;
    h1 {
      font-size: 25px;
      color: #252525;
      margin-top:0;
      margin-bottom: 20px;
      span {
        padding-left: 10px;
      }
    }
    .price{
      text-align: right;
      .date {
        padding-top: 12px;
      }
    }
    .date {
      color: #777
    }
    .price-box {
      font-family: $font-lato;
      font-size: 25px;
      color: #252525;
      font-weight: 700;
    }
    .owner {
      margin-left: 3px;
    }
    .btn.order {
      font-size: 14px;
      font-family: Arial,sans-serif;
      background-color: #389417;
      font-weight: bold;
      position: relative;
      top: -5px;
      margin-left: 10px;
      width: 125px;
      line-height: 24px;
      &:hover {
        background-color: #256b0c;
      }
    }
    &.lose {
      background: #FFEDED;
      h1 {
        color: #E74C3C;
      }
      .select-offer{
        background: #e74c3c;
      }
    }
    &.win {
      background: #e8ffe0;
      h1 {
        color: #44b01e;
      }
      .select-offer {
        background: #44b01e;
      }
    }
    .ico-col {
      height: 85px;
    }
  }
  .details {
    padding: 25px 25px 25px 15px;
    border-bottom: 1px solid #CCC;
    h2{
      font-family: $font-lato;
      font-size: 20px;
      margin-top: 0;
      font-weight: 700;
      margin-bottom:15px;
    }
    .box{
      padding-bottom: 25px;
      overflow: auto;
    }
  }
  .offer-list {
    padding: 25px 25px 25px 15px;
    border-bottom: 1px solid #CCC;
    .offer-table {
      padding-top: 30px;
    }
    .offer-row {
      margin-bottom:15px;
      display: block;
      width: 100%;
      .counter {
        background-color: #1b3349;
        text-align: center;
        width: 20px;
        height: 20px;
        @include border-radius(3px);
        color:#FFF;
        font-family: $font-lato;
        font-weight: 700;
        line-height: 19px;
      }
      .price {
        font-family: $font-lato;
        font-weight: 900;
        color: #333;
        font-size: 20px;
        position:relative;
        top: -5px;
      }
      &.yours {
        .counter {
          background-color: #e74c3c;
        }
        .price {
          color: #e74c3c;
        }
      }
      &.title {
        padding-bottom: 7px;
        overflow: auto;
        color: #777;
      }
      &.active {
        .price {
          font-family: $font-lato;
          font-weight: 900;
          color: #0072bc;
          font-size: 20px;
        }
        .counter {
          background-color: #0072bc;
        }
      }
      &.active.yours {
        .price {
          color: #44b01e;
        }
        .counter {
          background-color: #44b01e;
        }
      }
      &.losing {
        .price {
          font-family: $font-lato;
          font-weight: 900;
          color: #E74C3C;
          font-size: 20px;
        }
        .counter {
          background-color: #E74C3C;
        }
      }
      &.winning {
        .price {
          font-family: $font-lato;
          font-weight: 900;
          color: #44b01e;
          font-size: 20px;
        }
        .counter {
          background-color: #44b01e;
        }
      }
    }
    &.temp {
      .grey {
        margin-bottom: 10px;
      }
      .user {
        line-height: 40px;
      }
      .accept {
         margin-top: 10px;
         color: #FFF;
         font-weight: bold;
         padding-left: 5px;
         padding-right: 10px;
         width: auto;
         min-width: 0px;
         background-color: #389417;
         &:hover {
           background-color: #256b0c;
         }
         i {
           display: inline-block;
         }
       }
      .decline {
        margin-top: 10px;
        color: #FFF;
        font-weight: bold;
        padding-left: 5px;
        padding-right: 10px;
        margin-left: 10px;
        width: auto;
        min-width: 0px;
        background-color: #e74c3c;
        &:hover {
          background-color: darken(#e74c3c, 20%);
        }
        i {
          display: inline-block;
        }
      }
      .timer {
        margin-top: 10px;
      }
    }
  }
  .ask {
    padding: 25px 25px 25px 15px;
    .message_bl {
      margin-right: 0;
      display: inline-block;
    }
    .textarea textarea {
      height: 175px;
    }
    .actions {
      padding: 0;
      border: 0;
      .send-message {
        color: #FFF;
        font-weight: bold;
        padding-left: 35px;
        padding-right: 10px;
        width: auto;
        min-width: 0px;
        background: #0072bc url(../images/ico_messages_white.png) no-repeat 9px 10px;
        &:hover {
          background: #18acea url(../images/ico_messages_white.png) no-repeat 9px 10px;
        }
      }
    }
    .talk {
      border: 0;
      min-height: initial;
      padding: 25px 20px;
      background: none;
      .inside {
        overflow: visible;
        height: auto;
      }
    }
  }
  h2 {
    font-size: 20px;
    color: #333;
    span {
      font-size: 15px;
      color: #777777;
    }
  }
}
.grey{
  color: #777;
  margin-right: 5px;
}
.green{
  color: #2dA730;
}
.red{
  color: #e74c3c;
}
.details.stat{
  padding-bottom: 60px;
  .title{
    margin-top: 10px;
    text-align: center;
    i {
      display: inline-block;
      margin-bottom: -3px;
    }
  }
}
.statistic-box{
  width: 155px;
  height: 155px;
  display: block;
  text-align: center;
  margin: 20px auto 0;
  .box{
    display: block;
    overflow: hidden;
    position: relative;
    .stats {
      position: absolute;
      top: 30px;
      width: 100%;
      .number{
        font-size: 35px;
        color: #333;
        padding: 0 7px 9px 7px;
        font-family: $font-lato;
        font-weight: 700;
        border-bottom: 1px solid #a2a2a2;
      }
      .font-25 {
        line-height: 21px;
      }
    }
  }
}
.statistic-title{
  padding:15px;
  background-color: #2f9725;
  overflow: auto;
  @include border-radius(3px);
  color: #FFF;
  font-size: 20px;
  margin-bottom: 25px;
  .font-14 {
    line-height: 30px;
  }
}
.grade {
  line-height: 25px;
  .final {
    margin-left: 5px;
  }
}
.message{
  color: #333;
  cursor: pointer;
  text-decoration: none;
}
.select-offer{
  background-color: #0072bc;
  color: #fff;
  font-family: $font-lato;
  font-weight: 700;
  font-size: 12px;
  padding: 3px 5px;
  margin-right: 10px;
  @include border-radius(3px);
  position:relative;
  top: -4px;
}
.invite{
  h5{
    font-weight:bold;
    margin-bottom: 10px;
    margin-top:10px;
  }
  input {
    margin-right:15px;
    color:#777;
    border: 1px solid #CCC;
    @include border-radius(3px);
    padding: 7px;
    min-width: 250px;
  }
  a {
    background-color: #1b3349;
    color: #FFF;
    font-weight: bold;
    padding-left: 7px;
    padding-right: 10px;
    &:hover {
      color: #fff;
      background-color: #0072bc;
    }
  }
  form {
    fieldset {
      float: left;
      max-width: 200px;
      display: block;
    }
    input[type="text"] {
      border: 1px solid #ccc;
      padding-top: 6px;
      padding-bottom: 6px;
      width: auto;
      min-width: 200px;
    }
    input[type="submit"] {
      background: #1b3349 url(../images/ico_zap.png) no-repeat 7px 7px;
      color: #FFF;
      font-weight: bold;
      padding-left: 35px;
      padding-right: 10px;
      width: auto;
      min-width: 0px;
      &:hover {
        color: #fff;
        background: #0072bc url(../images/ico_zap.png) no-repeat 7px 7px;
      }
    }
    .actions {
      border: 0px !important;
      padding: 0px!important;
    }
  }
}
#map_canvas{
  height: 335px;
  @include border-radius(5px);
}