.create {
  &.offer-details {
    .header {
      padding: 10px 15px!important;
    }
    .details .box {
      overflow: visible;
      margin-top: 25px;
      padding-bottom: 0;
      &:first-child {
        margin-top: 0px;
      }
    }
    .field {
      margin-bottom: 20px;
    }
    .invite {
      margin-left: 0px;
    }
  }
  .board {
    border-left: 0px !important;
    border-right: 0px !important;
    @include border-radius(0px !important);
    .head {
      .pull-left {
        max-width: 475px;
        line-height: 16px;
        padding-top: 5px;
      }
    }
  }
  .offer-list {
    .back {
      margin-top: 0;
    }
    .actions {
      padding: 0;
      border: 0px;
      @include border-radius(0px);
      input {
        width: auto;
        float: left;
        margin-left: 10px;
        padding-left: 35px;
        &.publish {
          background: #389417 url(../images/ico_del_wh.png) no-repeat 7px 4px;
          &:hover {
            background: #256b0c url(../images/ico_del_wh.png) no-repeat 7px 4px;
          }
        }
        &.save-theme {
          background: #0072bc url(../images/ico_save.png) no-repeat 12px 9px;
          &:hover {
            background: #18acea url(../images/ico_save.png) no-repeat 12px 9px;
          }
        }
      }
    }
  }
  .help {
    display: inline-block;
    @include sprite-dimensions($sprites, ico_help_grey);
    background: sprite($sprites, ico_help_grey);
    margin-left: 5px;
    margin-bottom: -2px;
    &:hover {
      @include sprite-dimensions($sprites, ico_help_grey_on);
      background: sprite($sprites, ico_help_grey_on);
    }
  }
}
.add-next {
  font-size: 13px;
  background-color: #389417;
  color: #FFF;
  font-weight: bold;
  margin: 25px 0 0;
  padding: 8px;
  @include border-radius(3px);
  display: inline-block;
  @include anim();
  i {
    display: inline-block;
    margin-right: 8px !important;
    margin-top: 0px;
    margin-bottom: -4px;
  }
  &:hover {
    background: #256b0c;
    color: #fff;
  }
}