.mc   {   margin-left: auto;  margin-right: auto; }
.mt-0 {    margin-top: 0; }
.mr-0 {  margin-right: 0; }
.mb-0 { margin-bottom: 0; }
.ml-0 {   margin-left: 0; }
.pt-0 {   padding-top: 0; }
.pr-0 { padding-right: 0; }
.pb-0 {padding-bottom: 0; }
.pl-0 {  padding-left: 0; }
.field {
  margin-bottom: 8px;
  label {
    font-weight: 400;
    span {
      color: #d91f1f;
    }
  }
}
.required {
  &:after {
    content: '*';
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    color: red;
  }
}
.text {
  label {
    font-size: 13px;
    color: #777777;
    font-weight: normal;
  }
  input {
    width: 100%;
    border: 1px solid #cccccc;
    @include border-radius(3px);
    padding: 5px;
    color: #333333;
    font-size: 13px;
    position: relative;
  }
  select {
    width: 100%;
  }
  .chosen-container {
    margin-bottom: 5px;
  }
  &.good {
    div {
      position: relative;
      &:after {
        content: '';
        position: absolute;
        display: block;
        top: 6px; right: -20px;
        @include sprite-dimensions($sprites, verify);
        background: sprite($sprites, verify);
      }
    }
  }
  &.wrong {
    label {
      color: #ad4237;
    }
    input {
      background: #ffe4e1;
      border: 1px solid #ecb5af;
    }
  }
}
.how-strong {
  margin-top: -10px;
  margin-bottom: 7px;
  .pos {
    height: 5px;
    background: #d7d7d7;
    width: 23%;
    display: inline-block;
    @include border-radius(3px);
  }
  &.lv1 {
    .pos:nth-child(1) {
      background: #e74c3c;
    }
  }
  &.lv2 {
    .pos:nth-child(1), .pos:nth-child(2) {
      background: #f39c12;
    }
  }
  &.lv3 {
    .pos:nth-child(1), .pos:nth-child(2), .pos:nth-child(3) {
      background: #f3cf3f;
    }
  }
  &.lv4 {
    .pos {
      background: #59b749;
    }
  }
}
.textarea {
  label {
    font-size: 13px;
    color: #777777;
    font-weight: normal;
  }
  textarea {
    width: 100%;
    border: 1px solid #cccccc;
    @include border-radius(3px);
    padding: 5px;
    color: #333333;
    font-size: 13px;
    position: relative;
  }
}
.select {
  label {
    font-size: 13px;
    color: #777777;
    font-weight: normal;
    &.blue {
      color: #0072bc;
    }
  }
  select {
    width: 100%;
  }
}
.date {

}

.actions {
  padding: 15px;
  background: #fff;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  @include border-bottom-radius(3px);
  input[type="submit"] {
    font: 14px Arial, sans-serif;
    font-weight: bold;
    color: #fff;
    text-align: center;
    background: #0072bc;
    padding: 8px;
    width: 100%;
    display: block;
    border: 0;
    @include border-radius(3px);
    @include anim();
    &:hover {
      background: #18acea;
    }
  }
}

.filter-list{
  margin-top: 50px;
  .header{
    background-color: #18acea; border: 1px solid #18acea;
    @include border-radius(3px 3px 0 0); color: #FFF;
    padding: 10px 15px;
    font-family: $font-lato; font-size: 18px;
    i{
      margin-right: 15px;
      position: relative; top: 5px;
    }
  }
  .block {
    padding: 15px;
    border: 1px solid #ccc;
    border-top: 0px solid;
    background: #fff;
    > label {
      margin-bottom: 15px;
      font-size: 16px;
      font-family: $font-lato;
    }
  }
  .categories {
    .checkbox {
      margin-bottom: 12px;
      &:last-child {
        margin-bottom: 0px;
      }
    }
    .label-check {
      span {
        color: #777777;
        font-weight: 400;
      }
    }
    .chck {
      margin-right: 7px;
    }
  }
  .area {
    .field {
      margin-bottom: 20px;
    }
  }
}