.four-zero-four {
  margin-top: 40%;
  h1 {
    font-size: 35px !important;
    color: #1b3349 !important;
  }
  a {
    color: #1ab0ed;
    display: block;
    margin-top: 50px;
    &:hover {
      color: #1b3349;
    }
  }
}