a{
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}
.panels{
  margin-top: 50px;
  .box{
    display: block;
    padding: 32px 4px 32px 19px; background-color: #18acea;
    color: #FFF; font-family: $font-lato; font-size: 18px;
    margin-bottom: 10px;
    @include border-radius(3px);
    line-height: 33px;
    @include anim();
    i {
      margin-right: 10px;
    }
    &:hover {
      background-color: #1b3349;
    }
    &.own{
      background-color: #eff3f3;
      border: 3px dashed #CCC;
      padding: 29px 1px 28px 16px;
      color: #CCC;
      &:hover {
        background-color: #ccc;
        border: 4px solid #CCC;
        color: #fff;
        i:before {
          opacity: 1;
        }
      }
    }
  }
}

.auction-list{
  .invite{
    button{
      margin-right: 10px;
    }
  }
  .accept-offer{
    margin-right: 10px; padding-right: 7px !important; margin-top: 0px !important;
  }
  margin-top: 50px;
  .header{
    background-color: #0072bc; border: 1px solid #0072bc;
    border-radius: 3px 3px 0 0; color: #FFF;
    padding: 10px 15px;
    font-family: $font-lato; font-size: 18px;
    i{
      margin-right: 15px;
      position: relative; top: 5px;
    }
  }
  .counter{
    margin-right: 20px;
  }
  .board{
    background-color: #FFF;
    border-left: 1px solid #CCC; border-right: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    padding: 9px; min-height: 65px;line-height: 35px;
    margin: 0; display: block; border-radius: 0;
    border-radius: 0 0 3px 3px;
    &.board{
      .btn{
        margin-right: 10px;
        font-size: 13px;
      }
      label{
        color: #252628; font-size: 14px; font-family: Arial, Helvetica, sans-serif;
        font-weight: normal;
      }
    }
    ul.pagination{
      border: none; padding: 0; min-height: 10px; background-color: none;
      margin: 0; display: block;
      li{
        a{
          color: #333;
          padding: 6px 0;
          width: 30px;
          text-align: center;
          margin-right: 5px;
          @include border-radius(3px);
        }
      }
      li:last-child a {
        margin-right: 0;
      }
      .prev{
        a{
          padding: 8px 7px 9px;
        }
      }
      .next{
        a{
          padding: 8px 7px 9px;
        }
      }
      .active{
        a{
          background-color: #FFF;
        }
      }
      .break{
        a {
          border: 0 !important;
          cursor: default;
          &:hover{
            background-color: #FFF !important;
          }
        }
      }
    }
    .head {
      padding: 5px 15px 12px;
      .btn {
        i {
          margin-top: 0;
          margin-left: -3px;
          margin-right: 5px;
        }
      }
      .label-check {
        margin: 2px 0 -2px;
        .chck {
          margin-left: 5px;
        }
      }

    }
  }
  .bottom{
    padding: 10px 15px 0;
    .counter {
      line-height: 34px;
    }
    .pagination {
      margin-top: -11px;
    }
  }
  .list{
    background-color: #FFF; overflow: auto; font-family: $font-lato; color: #777777;
    .one-row{
      background-color: #FFF; border-left: 1px solid #ccc; overflow: hidden;
      border-right: 1px solid #ccc;
      padding: 5px 5px 3px;
      position: relative;
      &:last-child {
        border-bottom: 1px solid #ccc;
      }
      .label-check .chck {
        margin-bottom: -6px;
      }
      strong{
        color: #252525;
      }
      h3{
        font-size: 16px; margin: 0;
        margin-top: 11px;
        color: #0072bc; font-family: $font-lato;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 100%;
      }
      .accept-offer {
        padding: 5px 7px 5px 7px !important;
        margin-top: 4px!important;
        i {
          margin-right: 0!important;
        }
      }
      .last{
        text-align: right; color: #777777;
        margin-top: 7px;
        &.board{
          .price{
            margin-left: 15px;
          }
          .select-offer{
            top: 0;
          }
        }
        .price{
          color: #25415b; font-size: 16px; font-weight: 700;
          line-height: 30px;
          .smaller{
            font-size: 14px; font-weight: 400; margin-left: 5px;
          }
        }
        .info {
          font-weight: bold;
          font-size: 12px;
          text-transform: lowercase;
          color: #bcbcbc;
          margin-top: 10px;
          line-height: 12px;
          .select-offer {
            margin-right: 0!important;
          }
        }
      }
      .title {
        i {
          margin-right: 15px;
          display: block;
          float: left;
          margin-top: 1px;
        }
        .sub {
          margin-top: -5px;
          display: block;
          color: #252525;
          strong {
            margin-left: 30px
          }
        }
      }
      .up.disabled {
        opacity: 1;
        background: #b3b3b3;
      }
      &:before {
        content: '';
        top: 0; left: 0;
        height: 1px;
        position: absolute;
        width: 100%;
        background: #ccc;
        display: block;
      }
      .transport {
        padding-top: 8px;
        padding-bottom: 8px;
        line-height: 23px;
        i {
          float: left;
          margin-right: 5px;
          margin-top: 5px;
        }
      }
    }
    .one-row.red{
      background-color: #ffeded;
      border-left: 1px solid #ffc0c0;
      border-right: 1px solid #ffc0c0;
      color: #777;
      &:before {
        content: '';
        top: 0; left: 0;
        height: 1px;
        position: absolute;
        width: 100%;
        background: #ffc0c0;
        display: block;
      }
      h3{
        color: #e74c3c;
      }
      .select-offer{
        background-color: #25415b;
      }
    }
    .one-row.green{
      background-color: #e8ffe0;
      color: #777;
      border-left: 1px solid #b7d6ad;
      border-right: 1px solid #b7d6ad;
      &:before {
        content: '';
        top: 0; left: 0;
        height: 1px;
        position: absolute;
        width: 100%;
        background: #b7d6ad;
        display: block;
      }
      h3{
        color: #44b01e;
      }
    }
    .select-offer{
      margin-right: 20px;
      margin-top: 5px;
    }
  }
}
i {
  &.ico_o_panel{
    @include sprite-dimensions($sprites, ico_o_panel);
    background: sprite($sprites, ico_o_panel);
    display: block; margin-right: 10px;
    position: relative;
    &:before {
      content: '';
      @include anim();
      position: absolute;
      @include sprite-dimensions($sprites, ico_o_panel_over);
      background: sprite($sprites, ico_o_panel_over);
      opacity: 0;
      display: block;
      top: 0; left: 0;
    }
  }
  &.ico_clock{
    @include  sprite-dimensions($sprites, ico_clock);
    background: sprite($sprites, ico_clock);
    display: block; margin-right: 10px;
  }
  &.ico_bell_b{
    @include sprite-dimensions($sprites, ico_bell_b);
    background: sprite($sprites, ico_bell_b);
    display: block; margin-right: 10px;
  }
  &.ico_raport_b{
    @include sprite-dimensions($sprites, ico_raport_b);
    background: sprite($sprites, ico_raport_b);
    display: block; margin-right: 10px;
  }
  &.ico_download{
    @include sprite-dimensions($sprites, ico_download);
    background: sprite($sprites, ico_download);
    display: block; margin-right: 10px;
  }
  &.ico_upload{
    @include sprite-dimensions($sprites, ico_upload);
    background: sprite($sprites, ico_upload);
    display: block; margin-right: 10px;
  }
  &.filter_arr_down{
    @include  sprite-dimensions($sprites, ico_filter_down);
    background: sprite($sprites, ico_filter_down);
    display: block; margin-right: 10px; position: relative; top: 8px;
  }
  &.ico_filter{
    @include sprite-dimensions($sprites, ico_filter);
    background: sprite($sprites, ico_filter);
    display: block; margin-right: 5px; position: relative; top:5px;
  }
  &.ico_place{
    @include sprite-dimensions($sprites, ico_place);
    background: sprite($sprites, ico_place);
    display: block; position: relative;
  }
  &.ico_place_up{
    @include sprite-dimensions($sprites, ico_place_up);
    background: sprite($sprites, ico_place_up);
    display: block; position: relative;
  }
  &.ico_del_gr{
    @include sprite-dimensions($sprites, ico_del_gr);
    background: sprite($sprites, ico_del_gr);
    display: block;
    margin-right: 10px!important;
  }
  &.ico_down_list{
    @include sprite-dimensions($sprites, ico_down);
    background: sprite($sprites, ico_down);
    display: block; position: relative; top: 3px;
  }
  &.ico_up_list{
    @include sprite-dimensions($sprites, ico_up);
    background: sprite($sprites, ico_up);
    display: block; position: relative; top: 3px;
  }
  &.ico_pagination_right{
    @include sprite-dimensions($sprites, ico_pagination_right);
    background: sprite($sprites, ico_pagination_right);
    display: block;
  }
  &.ico_pagination_left{
    @include sprite-dimensions($sprites, ico_pagination_left);
    background: sprite($sprites, ico_pagination_left);
    display: block;
  }
  &.ico_home {
    @include sprite-dimensions($sprites, ico_home);
    background: sprite($sprites, ico_home);
    display: block;
  }
  &.ico_auction {
    @include sprite-dimensions($sprites, ico_auction);
    background: sprite($sprites, ico_auction);
    display: block;
  }
  &.ico_auction_black {
    @include sprite-dimensions($sprites, ico_auction_black);
    background: sprite($sprites, ico_auction_black);
    display: block;
  }
  &.ico_auction_white {
    @include sprite-dimensions($sprites, ico_del_wh);
    background: sprite($sprites, ico_del_wh);
    display: block;
    top: 0px!important; margin-right: 10px!important;
  }
  &.ico_statistic {
    @include sprite-dimensions($sprites, ico_statistic);
    background: sprite($sprites, ico_statistic);
    display: block;
  }
  &.ico_friends {
    @include sprite-dimensions($sprites, ico_friends);
    background: sprite($sprites, ico_friends);
    display: block;
  }
  &.ico_card {
    @include sprite-dimensions($sprites, ico_card);
    background: sprite($sprites, ico_card);
    display: block;
  }
  &.ico_options {
    @include sprite-dimensions($sprites, ico_options);
    background: sprite($sprites, ico_options);
    display: block;
  }
  &.ico_message {
    @include sprite-dimensions($sprites, ico_message);
    background: sprite($sprites, ico_message);
    display: block;
  }
  &.ico_qua {
    @include sprite-dimensions($sprites, ico_qua);
    background: sprite($sprites, ico_qua);
    display: block;
  }
  &.transport-red {
    @include sprite-dimensions($sprites, ico_car);
    background: sprite($sprites, ico_car);
    display: inline-block;
    margin-bottom: -4px;
    margin-left: 3px;
  }
  &.ico_conquer {
    @include sprite-dimensions($sprites, ico_conquer);
    background: sprite($sprites, ico_conquer);
    display:block;
    margin-right: 5px;
  }
  &.ico_end {
    @include sprite-dimensions($sprites, ico_end);
    background: sprite($sprites, ico_end);
    display: block;
    margin-right: 12px;
    position: relative;
    top: 3px;
  }
  &.ico_close {
    @include sprite-dimensions($sprites, ico_close);
    background: sprite($sprites, ico_close);
    display: block;
    margin-right: 5px;
    position: relative;
    top: 3px;
  }
  &.location {
    @include sprite-dimensions($sprites, ico_location);
    background: sprite($sprites, ico_location);
    display: block;
  }
  &.deliver-white {
    @include sprite-dimensions($sprites, ico_del_wh);
    background: sprite($sprites, ico_del_wh);
    display:block;
    margin-left: -5px;
  }
  &.ico_zap_blue{
    @include sprite-dimensions($sprites, ico_zap_blue);
    background: sprite($sprites, ico_zap_blue);
    display: block;
    margin-right: 5px;
  }
  &.ico_ok_green{
    @include sprite-dimensions($sprites, ico_ok_green);
    background: sprite($sprites, ico_ok_green);
    display: block;
    margin-right: 5px;
  }
  &.ico_not_ok_red{
    @include sprite-dimensions($sprites, ico_not_ok_red);
    background: sprite($sprites, ico_not_ok_red);
    display: block;
    margin-right: 5px;
  }
  &.star{
    @include sprite-dimensions($sprites, ico_star);
    margin-left: 5px;
    background: sprite($sprites, ico_star);
    display: block;
    margin-top: 3px;
  }
  &.star_gold{
    @include sprite-dimensions($sprites, ico_star_gold);
    margin-left: 5px;
    background: sprite($sprites, ico_star_gold);
    display:block;
    margin-top: 3px;
  }
  &.transport{
    @include sprite-dimensions($sprites, ico_transport);
    background: sprite($sprites, ico_transport);
    display: block;
  }
  &.delivery-desc{
    @include sprite-dimensions($sprites, ico_desc_delivery);
    background: sprite($sprites, ico_desc_delivery);
    display: block;
  }
  &.delivery {
    @include sprite-dimensions($sprites, ico_delivery);
    background: sprite($sprites, ico_delivery);
    margin-top: 2px;
  }
  &.up {
    @include sprite-dimensions($sprites, ico_up);
    background: sprite($sprites, ico_up);
    margin-top: 6px;
  }
  &.down {
    @include sprite-dimensions($sprites, ico_down);
    background: sprite($sprites, ico_down);
    margin-top: 6px;
  }
  &.offers{
    @include sprite-dimensions($sprites, ico_offers);
    background: sprite($sprites, ico_offers);
  }
  &.invite{
    @include sprite-dimensions($sprites, ico_zap);
    background: sprite($sprites, ico_zap); display:block;
    margin-right: 10px;
  }
  &.message_bl{
    margin-right: 5px;
    @include sprite-dimensions($sprites, ico_message_bl);
    background: sprite($sprites, ico_message_bl); display: block;
  }
  &.accept-offer{
    @include sprite-dimensions($sprites, ico_order);
    background: sprite($sprites, ico_order);
    margin-right: 8px;
    margin-top: 3px;
    margin-bottom: -4px;
  }
  &.add{
    @include sprite-dimensions($sprites, ico_add);
    background: sprite($sprites, ico_add);
    margin-right: 8px;
    margin-top: 3px;
    margin-bottom: -4px;
  }
  &.stop{
    @include sprite-dimensions($sprites, ico_stop);
    background: sprite($sprites, ico_stop);
    margin-right: 8px;
    margin-top: 2px;
    margin-bottom: -5px;
  }
  &.back-white{
    @include sprite-dimensions($sprites, ico_back_white);
    background: sprite($sprites, ico_back_white);
    margin-right: 12px;
    margin-top: 1px;
  }
  &.full-stats{
    @include sprite-dimensions($sprites, ico_full_stats);
    background: sprite($sprites, ico_full_stats);
    margin-right: 12px;
    margin-bottom: -3px;
  }
}