.knobs .title {
  margin-top: 10px;
  text-align: center;
  i {
    display: inline-block;
    margin-bottom: -3px;
    &.up, &.down {
      margin-top: 0;
      margin-right: 5px;
    }
  }
}
.nav-tabs {
  i {
    width: 25px !important;
    margin-bottom: -2px;
    &.ico-my-stats{
      @include sprite-dimensions($sprites, ico_statistic_black);
      background: sprite($sprites, ico_statistic_black);
    }
    &.ico-opinions{
      @include sprite-dimensions($sprites, ico_vcard_black);
      background: sprite($sprites, ico_vcard_black);
    }
    &.ico-archive{
      @include sprite-dimensions($sprites, ico_auction_black);
      background: sprite($sprites, ico_auction_black);
    }
    &.ico-activities{
      @include sprite-dimensions($sprites, ico_bell);
      background: sprite($sprites, ico_bell);
    }
  }
  .active {
    i {
      &.ico-my-stats{
        @include sprite-dimensions($sprites, ico_statistic_blue);
        background: sprite($sprites, ico_statistic_blue);
      }
      &.ico-opinions{
        @include sprite-dimensions($sprites, ico_vcard_blue);
        background: sprite($sprites, ico_vcard_blue);
      }
      &.ico-archive{
        @include sprite-dimensions($sprites, ico_auction_blue);
        background: sprite($sprites, ico_auction_blue);
      }
      &.ico-activities{
        @include sprite-dimensions($sprites, ico_bell_blue);
        background: sprite($sprites, ico_bell_blue);
      }
    }
  }
}