.header.lose
	.row
		.col-md-9
			.ico-col
				i.down
			.inside
				h1 Dostawa towaru do Berlina
				| Zleceniodawca:
				a.owner Adam N..
					span (10)
				.date Data dodania: 08.02.2014
		.col-md-7.price
			span.select-offer 3 miejsce
			span.price-box 1,800 zł
			button.btn.accept-offer.up
				i.ico_conquer.pull-left
				| Podbij ofertę
			.date 15 dni, 20 godzin, 15 minut do końca <br/> Numer ogłoszenia: A2v37981
.clearfix