.offer-list
	.row
		.col-xs-16
			.ico-col
				i.offers
			.inside
				h2 Oferty Przewoźników <span>(7)</span>
				.grey.hidden-sm Tylko autor ogloszenia może zaakceptować ofertę
				.offer-table
					.row.offer-row.title.hidden-sm
						.col-xs-1
							| Lp.
						.col-md-3.col-lg-2
							| Cena
						.col-md-3.col-lg-2
							| Data złożenia
					.row.offer-row.active
						.col-sm-2.col-md-1
							.counter 1
						.col-md-3.col-lg-2
							.price 1,000 zł
						.col-md-3.col-lg-2
							.grey 08.02.2014
					.row.offer-row
						.col-sm-2.col-md-1
							.counter 2
						.col-md-3.col-lg-2
							.price 1,500 zł
						.col-md-3.col-lg-2
							.grey 08.02.2014
					.row.offer-row.losing
						.col-sm-2.col-md-1
							.counter 3
						.col-md-3.col-lg-2
							.price 1,500 zł
						.col-md-3.col-lg-2
							.grey 08.02.2014
						.col-xs-16.col-md-8
							button.btn.accept-offer.up
								i.ico_conquer.pull-left
								| Podbij
							button.btn.accept-offer.off
								i.ico_close.pull-left
								| Wycofaj