extends layouts/_auctions

block content
	.col-xs-16.col-lg-15
		a.offers-back
			i
			| Powrót do listy ogłoszeń
		.offer-details
			include blocks/list_przewozowy/_header
			include blocks/list_przewozowy/_details
			include blocks/list_przewozowy/_offer-list