extends layouts/_auctions

block content
	.col-xs-16.col-lg-15
		include blocks/moja_statystyka/_account
		.tabs.precedent
			include blocks/moja_statystyka/_tab_nav
			.tab-content
				include blocks/moja_statystyka/_my_stats
				include blocks/moja_statystyka/_opinions
				include blocks/moja_statystyka/_archive
				include blocks/moja_statystyka/_activities
			.clearfix

	include blocks/modals/_transporter
	include blocks/modals/_accept