extends layouts/_auctions

block content
	.col-xs-16.col-lg-15
		include blocks/moje_konto/_account
		.tabs.precedent
			include blocks/moje_konto/_tab_nav
			.tab-content
				include blocks/moje_konto/_settings_profil
				//include blocks/moje_konto/_settings_messages
				//include blocks/moje_konto/_settings_themes
				//include blocks/moje_konto/_settings_employ
				//include blocks/moje_konto/_settings_opinions
				//include blocks/moje_konto/_settings_invites
				//include blocks/moje_konto/_settings_faq
				//include blocks/moje_konto/_settings_statue
			.clearfix

	include blocks/modals/_newhelp
	include blocks/modals/_opinion