extends layouts/_auctions

block content
	.col-xs-16.col-lg-15
		a.offers-back
			i
			| Powrót do listy ogłoszeń
		.offer-details
			include blocks/podglad_aukcji/_header
			include blocks/podglad_aukcji/_details
			include blocks/podglad_aukcji/_offer-list
	include blocks/modals/_transporter
	include blocks/modals/_accept