extends layouts/_auctions

block content
	.col-xs-16.col-lg-11
		a.offers-back
			i
			| Powrót do listy ogłoszeń
		.offer-details
			include blocks/profil_przewoznika/_header
			include blocks/profil_przewoznika/_details