extends layouts/_auctions

block content
	.col-xs-16.col-lg-15
		a.offers-back
			i
			| Powrót do listy ogłoszeń
		.offer-details
			include blocks/przegrywasz/_header
			include blocks/przegrywasz/_details
			include blocks/przegrywasz/_offer-list