extends layouts/_auctions

block content
	.col-xs-16.col-lg-15
		.offer-details.auction-list.create
			form
				fieldset
					include blocks/tworzenie_aukcji/_header
					include blocks/tworzenie_aukcji/_details
					include blocks/tworzenie_aukcji/_offer-list