extends layouts/_auctions

block content
	.col-xs-16.col-lg-15
		a.offers-back
			i
			| Powrót do listy ogłoszeń
		.offer-details
			include blocks/wygrywasz/_header
			include blocks/wygrywasz/_details
			include blocks/wygrywasz/_offer-list