extends layouts/_auctions

block content
	.col-xs-16.col-lg-15
		a.offers-back
			i
			| Powrót do listy ogłoszeń
		.offer-details
			include blocks/zakonczona/_header
			include blocks/zakonczona/_details
			include blocks/zakonczona/_offer-list
			include blocks/zakonczona/_ask
	include blocks/modals/_transporter
	include blocks/modals/_accept