extends layouts/_auctions

block content
	.col-xs-16.col-lg-15
		a.offers-back
			i
			| Powrót do listy ogłoszeń
		.offer-details
			include blocks/zakonczona_przed_czasem/_header
			include blocks/zakonczona_przed_czasem/_details
			include blocks/zakonczona_przed_czasem/_offer-list
	include blocks/modals/_transporter
	include blocks/modals/_accept