.pull-left.invite.sm-hidden
	a(href="#").btn
		i.ico_download.pull-left
		| Pobierz listę
.pull-left.invite.sm-hidden
	a(href="#").btn
		i.ico_upload.pull-left
		| Importuj listę
.pull-right
	a(href="#").btn.accept-offer.pull-left
		i.ico_conquer.pull-left
		| Podbij zaznaczone
	label(for="check-all-2").label-check.sm-hidden
		input(type="checkbox", name="check-all-2", id="check-all-2")
		.chck