.auction-list
	.header
		i.ico_auction.pull-left
		| Moje aukcje
	.clearfix
	.board
		.head
			.row
				include _pagination
		.row
			.list
				include _row_red
				include _row_green
		.bottom
			.row
				include _import_list