.pull-left
	a(href="#").btn.btn-default
		i.up.pull-left
		| Wiodące
.pull-left
	a(href="#").btn.btn-default
		i.down.pull-left
		| Przegrywające
.pull-left.sm-hidden
	select(style="width: 180px")
		option Sortuj wg statusu
		option Sortuj wg daty
		option Sortuj wg wygranej
		option Sortuj wg przegranej
.pull-right.sm-hidden
	label(for="check-all").label-check
		| Zaznacz wszystkie
		input(type="checkbox", name="check-all", id="check-all")
		.chck