.panels
	.row
		.col-md-8.col-lg-16
			a(href="#").box
				i.ico_clock.pull-left
				| Skuteczność aukcji
		.col-md-8.col-lg-16
			a(href="#").box
				i.ico_bell_b.pull-left
				| Ostatnia aktywność
		.col-md-8.col-lg-16
			a(href="#").box
				i.ico_raport_b.pull-left
				| Raport konkurencyjności
		.col-md-8.col-lg-16
			a(data-toggle="modal", href="#", data-target="#new-panel").box.own
				i.ico_o_panel.pull-left
				| Zdefiniuj własny panel