- for (var i = 4; i < 7; i++)
	.one-row.green
		.col-md-10.title
			a(href="#")
				h3
					i.up
					| Palety z wodą mineralną
		.col-md-4.last
			.pull-left
				span.select-offer 1 miejsce
			.pull-left
				.price
					| 700zł
		.col-md-2
			.pull-right
				a.btn.accept-offer.up.disabled
					i.ico_conquer.pull-left
				label(for="row#{i}").label-check.sm-hidden.disable
					input(type="checkbox", disabled, name="row#{i}", id="row#{i}")
					.chck