- for (var i = 0; i < 3; i++)
	.one-row.red
		.col-md-10.title
			a(href="#")
				h3
					i.down
					| Palety z wodą mineralną
		.col-md-4.last
			.pull-left
				span.select-offer 7 miejsce
			.pull-left
				.price
					| 800zł
		.col-md-2
			.pull-right
				a.btn.accept-offer.up
					i.ico_conquer.pull-left
				label(for="row#{i}").label-check.sm-hidden
					input(type="checkbox", name="row#{i}", id="row#{i}")
					.chck