.offer-list
	.row
		.col-md-4
			a(href="#").back
				i.back-white
				| Anuluj
		.col-md-12
			.actions.pull-right
				input(type="submit", name="save-theme", value="Publikuj i zapisz szablon", class="action save-theme", id="save-theme")
				input(type="submit", name="publish", value="Publikuj aukcję", class="action publish", id="publish")