.pull-left
	| Witamy w kreatorze nowej aukcji. Uzupełnij poniższe pola lub skorzystaj ze swojego szablonu w celu dodania nowej aukcji.
.pull-right
	select(style="width: 180px", data-placeholder="Użyj szablonu")
		option
		option Sortuj wg statusu
		option Sortuj wg daty
		option Sortuj wg wygranej
		option Sortuj wg przegranej
