!!! 5
//if IE 8
	<html class="lt-ie9">
// [if gt IE 8] <!
html(lang="en")
	// <![endif]

	include ../blocks/general/_html-header

	body
		include ../blocks/general/_menu
		include ../blocks/general/_header
		block content
		include ../blocks/general/_footer