// Extra small screen / phone
// Note: Deprecated $screen-xs and $screen-phone as of v3.0.1
$screen-xs:                  119px !default;
$screen-xs-min:              $screen-xs !default;
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
// Note: Deprecated $screen-sm and $screen-tablet as of v3.0.1
$screen-sm:                  180px !default;
$screen-sm-min:              $screen-sm !default;
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
// Note: Deprecated $screen-md and $screen-desktop as of v3.0.1
$screen-md:                  767px !default;
$screen-md-min:              $screen-md !default;
$screen-desktop:             $screen-md-min !default;

$container-tablet: 320px !default;
$container-desktop: 753px !default;
$container-lg: 1180px !default;

// Number of columns in the grid system
$grid-columns:              16 !default;
// Padding, to be divided by two and applied to the left and right of all columns
$grid-gutter-width:         20px !default;