@media all and (max-height: 540px) {
  .four-zero-four {
    margin-top: 20%;
  }
}
@media (min-width: $screen-lg-min) and (min-height: 540px) {
  nav ul .dropdown .dropdown-toggle {
    cursor: default !important;
  }
  nav ul .dropdown .dropdown-menu {
    display: block !important;
    position: fixed;
    height: 100%;
    top: auto;
    left: auto;
  }
  article {
    padding-top: 0px;
  }
  header {
    position: fixed;
    width: 100%;
    z-index: 999;
  }
}

@media all and (min-width: $container-lg) {
  article {
    padding-top: 62px;
  }
  article .btn.accept-offer.download {
    margin-left: 0;
  }

  // TABS
  .tabs.precedent {
    background: #f5f5f5;
    border: 1px solid #dddddd;
    @include border-radius(3px);
  }
  .tabs.precedent > .nav-tabs {
    width: 20%;
    float: left;
    > li {
      float: none;
      > a {
        margin-right: -1px;
        padding: 18px 15px;
        border-left: 0px!important;
        @include border-radius(0px);
        i {
          display: inline-block;
        }
      }
      &.active > a {
        border-right: 0px !important;
      }
      &:first-child.active > a {
        border-left: 0px!important;
        border-top: 0px!important;
      }
      &:last-child.active > a {
        border-bottom: 1px solid #ddd;
      }
      &:first-child {
        a {
          border-top: 0px!important;
        }
      }
    }
  }
  .tabs.precedent > .tab-content {
     width: 80%;
     float: left;
      border-right: 0px;
      border-bottom: 0px;
      min-height: 475px;
  }
}
// DESKTOP
@media all and (max-width: 1179px) {
  article .header .btn.accept-offer.up {
    padding-left: 18px;
    text-indent: -9000px;
  }
  .auction-list, .panels {
    margin-top: 20px;
  }
  .filter-list {
    width: 275px!important;
    position: absolute;
    z-index: 99;
    right: 0;
    margin-top: 20px;
    &.active {
      .header {
        width: 275px;
        text-indent: 0px;
      }
      .clearfix, form {
        display: block;
      }
    }
    .header {
      width: 50px;
      text-indent: -9000px;
      float: right;
      cursor: pointer;
      i {
        float: right!important;
        margin-right: 0px;
      }
    }
    form {
      width: 275px;
      margin-left: -20px;
    }
    .clearfix, form {
      display: none;
    }
  }
  #activities .block .head {
    display: none;
  }
  #opinions {
    .select-offer {
      float: left;
      line-height: 18px;
    }
  }
  .sub {
    .nav-tabs > li > a {
      margin-right: 4px;
      padding: 10px 12px;
    }
  }
}
// TABLET
@media all and (min-width: $container-desktop) and (max-width: 1179px) {

  .md-hidden {
    display: none!important;
  }

  header .logo {
    margin-left: -20px;
  }
  .offer-details .header {
    padding: 25px 15px;
  }
  .offer-details .details {
    padding: 25px 15px;
  }
 /* i.delivery {
    margin-left: -16px;
  }
  i.offers {
    margin-right: -10px;
  }*/
  article .btn.accept-offer.download {
    margin-left: 0;
  }
  .inside {
    width: 89%;
  }
  article .btn.accept-offer.end {
    margin-top: 5px;
  }
  #messages .talk {
    padding: 25px 10px;
  }
  .precedent .nav-tabs.disactive {
    display: none
  }
  .mobile-tabs-precedent {
    margin-bottom: 25px;
  }
  .precedent {
    > .tab-content {
      border-top: 1px solid #dddddd;
    }
  }
}
// MOBILE
@media all and (max-width: 752px) {

  .sm-hidden, .md-hidden {
    display: none!important;
  }

  header .logo {
    margin-left: -13px;
  }
  .invite {
    input {
      width: 95%;
    }
    button {
      margin-top: 5px;
    }
  }
  div.invite {
    margin-left: -25px;
  }
  .offer-details .header, .offer-details .details, .offer-details .offer-list {
    padding: 15px 10px;
  }
  .offer-details .header h1 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .offer-details .header .price {
    text-align: left;
    .price-box {
      line-height: 60px;
      }
    .order {
      margin-top: 15px;
      float: right;
    }
    .date {
      padding-left: 30px;
      padding-top: 0;
    }
    }

  .offer-details .details .box {
    padding-bottom: 15px;
    &:last-child {
      padding-bottom: 0;
    }
  }
  .ico-col {
    width: 30px;
    text-align: left;
    i {
      &.delivery {
        margin-top: -2px;
      }
      &.up, &.down {
        margin-top: 4px;
      }
    }
  }
  .inside {
    width: 88%;
    .row {
      [class^=col-] {
        padding-bottom: 10px;
      }
    }
  }
  .offer-row {
    @include border-radius(3px);
    border: 1px solid #ccc;
    padding-top: 12px;
    margin-left: -25px;
    position: relative;
    width: 110%!important;
    [class^=col-] {
      padding-bottom: 0px !important;
    }
    .price {
      padding-left: 25px;
    }
    .user {
      line-height: 40px;
    }
    .grey + .user {
      line-height: 20px;
      margin-bottom: 10px;
    }
    .col-md-4.col-lg-3 {
      position: absolute;
      top: 70px;
      right: 0px;
    }
    .col-xs-2 {
      position: absolute;
      top: 20px;
      right: 0px;
      button {
        float: right;
      }
    }
    .col-xs-16 {
      position: absolute;
      top: 20px;
      text-align: right;
    }
    &.alt {
      margin-left: -10px;
      border: 0;
      width: 100%!important;
    }
  }
  .offer-details .offer-list .offer-table {
    padding-top: 10px;
  }
  .btn.accept-offer.download {
    margin-top: 20px;
    margin-left: 10px;
  }
  .offer-details .offer-list .btn.accept-offer.download {
    margin-left: 15px;
  }
  .btn.accept-offer.up {
    padding-left: 18px;
    text-indent: -9000px;
  }
  .statistic-title{
    font-size: 17px;
    .font-14 {
      line-height: 25px;
    }
  }
  .grade {
    .col-md-10 {
      padding-top: 10px;
    }
  }
  article .btn.accept-offer.end {
    margin-left: 30px;
  }
  .auction-list .list .one-row .select-offer {
    margin-left: 25px;
    margin-right: 10px;
  }
  .auction-list .list .one-row .accept-offer {
    margin-top: -16px!important;
  }
  .auction-list .list .one-row .transport i {
    margin-left: 30px;
  }
  .auction-list .list .one-row .last .info {
    margin-bottom: 10px;
  }
  .auction-list .list .one-row .last .info .select-offer {
    float: left;
    margin-right: 10px!important;
    & + .price {
      margin-left: 0px!important;
    }
  }
  .auction-list .list .one-row .last .price {
    line-height: 19px;
    text-align: left;
    margin-left: 30px;
  }
  .auction-list .list .one-row .last .note {
    margin-top: 5px;
    float: right;
  }
  .auction-list .bottom .counter {
    font-size: 11px;
    margin-right: 10px;
  }
  .auction-list .board .bottom ul.pagination {
    li {
      a {
        width: 26px;
      }
      &.prev a, &.next a {
        padding: 8px 6px 9px
      }
    }
  }
  article .account .status {
    margin-left: 0;
  }
  article .account i {
    margin-top: 10px;
  }

  // TABS MOBILE
  .nav-tabs.disactive {
    display: none
  }
  .tab-content {
    border-top: 1px solid #ddd;
    margin-top: 25px;
  }
  #activities .block .date {
    line-height: 33px;
  }
  #archive .grey {
    width: 100%;
    text-align: left;
    margin-right: 0;
    margin-left: 30px;
  }
  #archive .select-offer {
    float: left;
    line-height: 16px;
    margin-left: 30px;
    margin-bottom: 10px;
  }
  #archive .price {
    position: absolute;
    margin-top: 24px;
    margin-left: 101px;
  }
  #opinions .grey {
    width: 100%;
    text-align: left;
    line-height: 21px;
  }
  #opinions .select-offer {
    float: left;
    line-height: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
  }
  #opinions .price {
    position: absolute;
    margin-top: 50px;
    margin-left: 70px;
  }
  #opinions .col-xs-16.col-md-9 {
    padding-left: 0px; padding-right: 0px;
  }
  .invite form input[type="text"] {
    margin-bottom: 10px;
  }
  .create .board .head .pull-left {
    padding-bottom: 15px;
  }
  .create.offer-details .field {
    margin-bottom: 10px;
  }
  .create {
    .head {
      .pull-right {
        float: none!important;
        .chosen-container {
          width: 100%!important;
        }
      }
    }
  }
  .field {
    &.select .chosen-container {
      width: 100%!important;
    }
  }
  .create .offer-list .back {
    margin-bottom: 10px;
  }
  .create .offer-list .actions input {
    margin-left: 0;
    margin-bottom: 10px;
  }
  .sub .actions {
    margin-top: 10px!important;
    input[type="submit"] {
      float: left !important;
      margin-left: 0px !important;
    }
  }
  #statues .wrapper {
    max-width: 260px;
    margin-left: 20px;
  }
  #help .accordio .title {
    font-size: 16px;
    i {
      margin-bottom: -3px;
    }
  }
  #help .head .save {
    float: left;
    margin-top: 10px;
  }
  #invites {
    div.invite {
      margin-left: 0px;
    }
  }
  #employees {
    .visible-xs {
      display: block !important;
    }
    .table {
      padding-top: 10px;
    }
  }

  #employees .data.editing {
    margin-top: 0px;
    .field {
      label {
        display: block;
      }
      input {
        display: none;
      }
    }
    .actions {
      #edit, #delete {
        display: inline-block;
      }
      &.edit {
        display: none;
      }
    }
  }
  .sub .mobile-tabs {
    margin-left: 20px;
  }
  .hidden-xs {
    display: none!important;
  }
  .visible-xs {
    display: block!important;
  }
  #themes .actions {
    margin-top: -22px!important;
    float: right;
  }
  #themes .block {
    border-bottom: 1px solid #ddd;
    &:last-child {
      padding-top: 0;
      padding-bottom: 20px;
      border-bottom:0;
    }
  }
  #themes .data {
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
  }
  #themes .table {
    padding: 10px;
  }
  #themes .new {
    margin: 0;
  }
  #my-services {
    .table {
      .row {
        margin-bottom: 10px;
        line-height: 18px;
      }
    }
    .visible-xs {
      .turn {
        i {
          margin: 2px 0 0 0;
        }
      }
    }
  }
  #comments .statistic-title {
    padding: 10px 9px;
    .font-14 {
      font-size: 12px;
    }
  }
  #comments .stars {
    i:first-child {
      margin-left: 0;
    }
  }
  #comments .owner {
    width: 100%;
    text-align: left;
  }
  .modal-dialog {
    max-width: 350px;
  }
  .ask .inside {
    .talk {
      padding: 20px 0px;
    }
  }
}