@import "compass";
@import "bootstrap-var";
@import "../../bower_components/sass-bootstrap/lib/bootstrap";

// FONTS
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);

// VARIABLES
$font-lato : "Lato", Tahoma, sans-serif;
// SPRITES
$sprites: sprite-map("sprites/*.png");

@mixin anim(){
  @include transition-transform(all);
  @include transition-duration(0.3s);
  @include transition-timing-function(linear);
}
