#messages.tab-pane.fade
	.row
		.col-md-8
			.block
				.head
					.row
						.col-md-12
							| Wiadomości
							.grey Nieprzeczytane: 3
						.col-md-4
							a(href="#").btn
								| Nowa wiadomość
				.clearfix
			.block
				a(href="#").read Oznacz jako przeczytane
			.messages
				.row
					.col-md-2
						.field.checkbox
							label.hidden
							div
								label(for="row1").label-check
									input(type="checkbox", name="row1", id="row1")
									.chck
						.clearfix
					.col-md-10
						a(href="#").title Zwykła wiadomość
					.col-md-4
						.grey 17.02.2014
				.row.selected
					.col-md-2
						.field.checkbox
							label.hidden
							div
								label(for="row2").label-check
									input(type="checkbox", name="row2", id="row2")
									.chck
						.clearfix
					.col-md-10
						a(href="#").title Aktualnie przeglądana wiadomość
					.col-md-4
						.grey 17.02.2014
				.row.to-read
					.col-md-2
						.field.checkbox
							label.hidden
							div
								label(for="row3").label-check
									input(type="checkbox", name="row3", id="row3")
									.chck
						.clearfix
					.col-md-10
						a(href="#").title Wiadomość nieprzeczytana
					.col-md-4
						.grey 17.02.2014
			.block
				a(href="#").back
					i.back-white
					| Cofnij
		.col-md-8
			.talk
				.inside
					.msg.left
						.row
							.col-xs-6
								a(data-toggle="modal", href="#", data-target="#transporter").user M...s
									span (8)
								i.transport-red
							.col-xs-10
								.grey 13.02.204, 15:34:23
						.row
							.col-xs-16
								p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat
					.msg.right
						.row
							.col-xs-6
								a(data-toggle="modal", href="#", data-target="#transporter").user paolo34
									span (0)
							.col-xs-10
								.grey 13.02.204, 15:34:23
						.row
							.col-xs-16
								p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat
					.msg.left
						.row
							.col-xs-6
								a(data-toggle="modal", href="#", data-target="#transporter").user M...s
									span (8)
								i.transport-red
							.col-xs-10
								.grey 13.02.204, 15:34:23
						.row
							.col-xs-16
								p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat
					.msg.right
						.row
							.col-xs-6
								a(data-toggle="modal", href="#", data-target="#transporter").user paolo34
									span (0)
							.col-xs-10
								.grey 13.02.204, 15:34:23
						.row
							.col-xs-16
								p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat
				form
					fieldset
						.field.textarea
							label Twoja wiadomość
							div
							textarea(id="wiadomosc", name="wiadomosc", rows="4")
					.actions.pull-right
						input(type="submit", name="send-message", value="Wyślij", class="action send-message", id="send-message")
					.clearfix
	include ../../blocks/modals/_transporter