#my-settings.tab-pane.fade.in.active
	.block
		.head
			| Ustawienia konta
			.grey Zarządzaj ustawieniami swojego konta.
		.clearfix
	.tabs.sub
		ul.nav.nav-tabs
			li.active
				a(href='#edit-profile', data-toggle='tab') Edycja profilu
			li
				a(href='#password', data-toggle='tab') Zmiana hasła
			li
				a(href='#reminders', data-toggle='tab') Powiadomienia
			li
				a(href='#finance', data-toggle='tab') Finanse
			li
				a(href='#my-services', data-toggle='tab') Moje usługi
			li
				a(href='#docs', data-toggle='tab') Dokumenty
		.tab-content
			include profil/_edit
			include profil/_pass
			include profil/_reminders
			include profil/_finance
			include profil/_myservices
			include profil/_docs
