#comments.tab-pane.fade
	.block
		.row
			.col-md-7
				.head
					| Moje komentarze
					.grey Tutaj możesz sprawdzać i wystawiać opinie
			.col-md-9
				.statistic-title <strong>89%</strong> Pozytywnych opinii
					.pull-right.font-14 4 opinie
		.clearfix
	.tabs.sub
		ul.nav.nav-tabs
			li.active
				a(href='#comments-received', data-toggle='tab') Otrzymane
			li
				a(href='#comments-put', data-toggle='tab') Wystawione
		.tab-content
			#comments-received.tab-pane.fade.in.active
				.block
					.row
						.col-md-9
							.row.grade
								.col-md-6
									strong Podsumowanie:
									.clearfix
									| Pozytywne:
									span.green <strong>10</strong></br>
									| Neutralne:
									span.grey <strong>10</strong></br>
									| Negatywne:
									span.red <strong>10</strong></br>
								.col-md-10
									strong Średnia z 15 ocen realizacji
									.clearfix
									| Kontakt:
									.pull-right
										i.star_gold.pull-left
										i.star_gold.pull-left
										i.star.pull-left
										i.star.pull-left
										i.star.pull-left
										strong.final 5.0
									br
									| Czas realizacji:
									.pull-right
										i.star_gold.pull-left
										i.star_gold.pull-left
										i.star.pull-left
										i.star.pull-left
										i.star.pull-left
										strong.final 5.0
									br
									| Ogólna ocena:
									.pull-right
										i.star_gold.pull-left
										i.star_gold.pull-left
										i.star.pull-left
										i.star.pull-left
										i.star.pull-left
										strong.final 5.0
				.auction-list
					.board
						.row
							.list
								.one-row.red
									.col-md-6.title
										a(href="#")
											h3
												i.sq-neutral
												| Palety z wodą mineralną
									.col-md-10.col-lg-9.last
										.pull-right
											a(href="#").owner.pull-left
												| Adam N..<span>(10)</span>
											.stars.pull-left
												i.star_gold.pull-left
												i.star_gold.pull-left
												i.star.pull-left
												i.star.pull-left
												i.star.pull-left
												strong.final 5.0
											.grey.pull-left
												| (2014-02-08)
												a(href="#").warning
								- for (var i = 4; i < 7; i++)
									.one-row.red
										.col-md-6.title
											a(href="#")
												h3
													i.sq-red
													| Palety z wodą mineralną
										.col-md-10.col-lg-9.last
											.pull-right
												a(href="#").owner.pull-left
													| Roman Ś..<span>(10)</span>
												.stars.pull-left
													i.star_gold.pull-left
													i.star_gold.pull-left
													i.star.pull-left
													i.star.pull-left
													i.star.pull-left
													strong.final 5.0
												.grey.pull-left
													| (2014-02-08)
													a(href="#").warning
								- for (var i = 4; i < 7; i++)
									.one-row.green
										.col-md-6.title
											a(href="#")
												h3
													i.sq-green
													| Palety z wodą mineralną
										.col-md-10.col-lg-9.last
											.pull-right
												a(href="#").owner.pull-left
													| Bronisława B..<span>(10)</span>
												.stars.pull-left
													i.star_gold.pull-left
													i.star_gold.pull-left
													i.star.pull-left
													i.star.pull-left
													i.star.pull-left
													strong.final 5.0
												.grey.pull-left
													| (2014-02-08)
													a(href="#").warning
				.block
					.row
						.col-md-4
							a(href="#").back
								i.back-white
								| Powrót
			#comments-put.tab-pane.fade
				.auction-list
					.board
						.row
							.list
								.one-row.red
									.col-md-6.title
										a(href="#")
											h3
												i.sq-neutral
												| Palety z wodą mineralną
									.col-md-10.col-lg-9.last
										.pull-right
											a(href="#").owner.pull-left
												| Adam N..<span>(10)</span>
											.stars.pull-left
												i.star_gold.pull-left
												i.star_gold.pull-left
												i.star.pull-left
												i.star.pull-left
												i.star.pull-left
												strong.final 5.0
											.grey.pull-left
												| (2014-02-08)
								- for (var i = 4; i < 7; i++)
									.one-row.red
										.col-md-6.title
											a(href="#")
												h3
													i.sq-red
													| Palety z wodą mineralną
										.col-md-10.col-lg-9.last
											.pull-right
												a(href="#").owner.pull-left
													| Roman Ś..<span>(10)</span>
												.none.pull-left
												a(data-toggle="modal", href="#", data-target="#opinion").btn.add-new-opinion
													i
													| Wystaw opinię
								- for (var i = 4; i < 7; i++)
									.one-row.green
										.col-md-6.title
											a(href="#")
												h3
													i.sq-green
													| Palety z wodą mineralną
										.col-md-10.col-lg-9.last
											.pull-right
												a(href="#").owner.pull-left
													| Bronisława B..<span>(10)</span>
												.stars.pull-left
													i.star_gold.pull-left
													i.star_gold.pull-left
													i.star.pull-left
													i.star.pull-left
													i.star.pull-left
													strong.final 5.0
												.grey.pull-left
													| (2014-02-08)
				.block
					.row
						.col-md-4
							a(href="#").back
								i.back-white
								| Powrót