#invites.tab-pane.fade
	.block
		.head
			| Moje zaproszenia
			.grey Zaproś znajomych do korzystania z platformy
		.clearfix
		.invite
			form
				fieldset
					.field.text
						label.hidden
						div
							input(type="text", placeholder="Adres e-mail przewoźnika").pull-left
				.actions
					input(type="submit", name="newsletter", value="Wyślij zaproszenie", id="newsletter", class="action")
	.list
		.row
			.col-xs-10.col-md-4
				.grey Adres e-mail
			.col-xs-6.col-md-3
				.grey Zaproszono
			.hidden-xs.col-md-4
				.grey Data zaakceptowania
		.row
			.col-xs-10.col-md-4
				a adam@nowak.pl
			.col-xs-6.col-md-3
				| 22.02.2014
			.hidden-xs.col-md-4
				.none
		.row
			.col-xs-10.col-md-4
				a adam@nowak.pl
			.col-xs-6.col-md-3
				| 22.02.2014
			.hidden-xs.col-md-4
				| 24.02.2014
