#themes.tab-pane.fade
	.block
		.head
			| Moje szablony
			.grey Tutaj możesz sprawdzić i edytować Twoje szablony
		.clearfix
	.tabs.sub
		ul.nav.nav-tabs
			li.active
				a(href='#auction-themes', data-toggle='tab') Szablony aukcji
			li
				a(href='#address-send', data-toggle='tab') Adresy nadania
			li
				a(href='#address-pick', data-toggle='tab') Adresy dostawy
			li
				a(href='#send-data', data-toggle='tab') Dane dostawców
			li
				a(href='#pick-data', data-toggle='tab') Dane odbiorców
		.tab-content
			#auction-themes.tab-pane.fade.in.active
				.table
					.row.hidden-xs
						.col-md-1
							.grey Lp.
						.col-md-5
							.grey Nazwa
						.col-md-3
							.grey Dodano
						.col-md-4
							.grey Kategoria
						.col-md-2
							.grey Opcje
					.row.data
						form
							fieldset
								.hidden-xs.col-md-1
									| 1.
								.col-md-5
									strong Dostawa towaru do Berlina
								.col-md-3
									| 04.02.2014
								.col-md-4
									| Art. przemysłowe
								.col-md-2
									.actions
										input(type="submit", name="edit", value="", class="action", id="edit")
										input(type="submit", name="delete", value="", class="action", id="delete")
					.row.data
						form
							fieldset
								.hidden-xs.col-md-1
									| 1.
								.col-md-5
									strong Dostawa towaru do Berlina
								.col-md-3
									| 04.02.2014
								.col-md-4
									| Art. przemysłowe
								.col-md-2
									.actions
										input(type="submit", name="edit", value="", class="action", id="edit")
										input(type="submit", name="delete", value="", class="action", id="delete")
			#auction-themes.tab-pane.fade
			#address-send.tab-pane.fade
			#address-pick.tab-pane.fade
			#send-data.tab-pane.fade
			#pick-data.tab-pane.fade
		.block
			.row
				.col-xs-16
					a(href="#").new.btn
						i.add
						| Utwórz nowy szablon
			.row
				.col-xs-16
					a(href="#").back
						i.back-white
						| Powrót