#help.tab-pane.fade
	.block
		.head
			.row
				.col-md-12
					| Uzyskaj pomoc
					.grey Tutaj możesz uzyskać pomoc
				.col-md-4
					a(data-toggle="modal", href="#", data-target="#new-help").btn.save
						i
						| Utwórz nowy wątek
		.clearfix
	.block
		.row
			.col-md-12
				h2 Przewoźnik
				.accordio
					.title
						i
						| Czy ten serwis naprawdę działa?
					.body
						| Lorem ipsum
				.accordio
					.title
						i
						| Czy ten serwis naprawdę działa?
					.body
						| Lorem ipsum
				.accordio
					.title
						i
						| Czy ten serwis naprawdę działa?
					.body
						| Lorem ipsum
	.block
		.row
			.col-md-12
				h2 Zleceniodawca
				.accordio
					.title
						i
						| Czy ten serwis naprawdę działa?
					.body
						p Lorem ipsum dolor sit amet, <a href="#">consectetuer adipiscing elit,</a> sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
						p Lorem ipsum dolor sit amet, <strong> consectetuer adipiscing elit, sed diam nonummy </strong> nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
				.accordio
					.title
						i
						| Czy ten serwis naprawdę działa?
					.body
						| Lorem ipsum
				.accordio
					.title
						i
						| Czy ten serwis naprawdę działa?
					.body
						| <a href="#">Lorem ipsum</a>
				a(href="#").back
					i.back-white
					| Cofnij