#employees.tab-pane.fade
	.block
		.head
			| Zarządzaj pracownikami
			.grey Tutaj możesz zarządzać danymi swoich pracowników
		.clearfix
	.table
		.row
			.col-xs-2.col-md-1
				.grey Lp.
			.col-xs-5.col-md-3
				.grey Imię
			.col-xs-5.col-md-3
				.grey Nazwisko
			.hidden-xs.col-md-4
				.grey Adres e-mail
			.hidden-xs.col-md-3
				.grey Hasło
			.hidden-xs.col-md-2
				.grey Ustawienia
		.row.data
			form
				fieldset
					.col-xs-2.col-md-1
						| 1.
					.col-xs-5.col-md-3
						.field.text
							label Jerzy
							div
								input(type="text", name="imie", id="imie", class="text")
					.col-xs-5.col-md-3
						.field.text
							label Kowalski
							div
								input(type="text", name="nazwisko", id="nazwisko", class="text")
					.hidden-xs.col-md-4
						.field.text
							label jkowalski@gmail.com
							div
								input(type="text", name="email", id="email", class="text")
					.hidden-xs.col-md-3
						.field.text
							label ********
							div
								input(type="password", name="password", id="password", class="text")
					.hidden-xs.col-md-2
						.actions
							input(type="submit", name="edit", value="", class="action", id="edit")
							input(type="submit", name="delete", value="", class="action", id="delete")
						.actions.edit
							input(type="submit", name="save-employee", value="Zapisz", class="action", id="save-employee")
		.row.data
			form
				fieldset
					.col-xs-2.col-md-1
						| 1.
					.col-xs-5.col-md-3
						.field.text
							label Jerzy
							div
								input(type="text", name="imie", id="imie", class="text")
					.col-xs-5.col-md-3
						.field.text
							label Kowalski
							div
								input(type="text", name="nazwisko", id="nazwisko", class="text")
					.hidden-xs.col-md-4
						.field.text
							label jkowalski@gmail.com
							div
								input(type="text", name="email", id="email", class="text")
					.hidden-xs.col-md-3
						.field.text
							label ********
							div
								input(type="password", name="password", id="password", class="text")
					.hidden-xs.col-md-2
						.actions
							input(type="submit", name="edit", value="", class="action", id="edit")
							input(type="submit", name="delete", value="", class="action", id="delete")
						.actions.edit
							input(type="submit", name="save-employee", value="Zapisz", class="action", id="save-employee")
		.row.data.editing
			form
				fieldset
					.col-xs-2.col-md-1
						| 2.
					.col-xs-5.col-md-3
						.field.text
							label Anna
							div
								input(type="text", name="imie", id="imie", class="text")
					.col-xs-5.col-md-3
						.field.text
							label Kowalska
							div
								input(type="text", name="nazwisko", id="nazwisko", class="text")
					.hidden-xs.col-md-4
						.field.text
							label akowalski@gmail.com
							div
								input(type="text", name="email", id="email", class="text")
					.hidden-xs.col-md-3
						.field.text
							label ********
							div
								input(type="password", name="password", id="password", class="text")
					.hidden-xs.col-md-2
						.actions
							input(type="submit", name="edit", value="", class="action", id="edit")
							input(type="submit", name="delete", value="", class="action", id="delete")
						.actions.edit
							input(type="submit", name="save-employee", value="Zapisz", class="action", id="save-employee")
		.row.hidden-xs
			.col-xs-16
				a(href="#").new.btn
					i.add-employee
					| Nowy pracownik
		.row.visible-xs
			.col-xs-16
				.grey Edycja możliwa na urządzeniu o rozdzielczości większej niż 768px, jak np. tablet czy komputer
		.row
			.col-xs-16
				a(href="#").back
					i.back-white
					| Powrót