ul.nav.nav-tabs
	li.active
		a(href='#my-settings', data-toggle='tab') <i class="ico-my-settings"></i> Moje konto
	li
		a(href='#messages', data-toggle='tab') <i class="ico-messages"></i> Wiadomości <span class="msg-amount">3</span>
	li
		a(href='#themes', data-toggle='tab') <i class="ico-themes"></i> Moje szablony
	li
		a(href='#employees', data-toggle='tab') <i class="ico-employees"></i> Moi pracownicy
	li
		a(href='#comments', data-toggle='tab') <i class="ico-comments"></i> Moje komentarze
	li
		a(href='#invites', data-toggle='tab') <i class="ico-invites"></i> Moje zaproszenia
	li
		a(href='#help', data-toggle='tab') <i class="ico-help"></i> Uzyskaj pomoc
	li
		a(href='#statues', data-toggle='tab') <i class="ico-statues"></i> Regulaminy