// Footer
footer
	.copyright
		.container
			.row
				.visible-lg.col-xs-1
				.col-xs-16.col-lg-15
					p Korzystanie z serwisu oznacza akceptację <a href="index.html">regulaminu</a> &copy; 2014 SpotMarket

script(src='scripts/vendors/jquery.min.js')
script(src='scripts/vendors/jquery.ui.map.js')
script(src='http://maps.google.com/maps/api/js?sensor=true')
script(src='scripts/vendors/bootstrap.min.js')

script(src='scripts/plugins.js')
script(src='scripts/main.js')