// HEADER

header
    .container
        .row
            .col-xs-3.pull-left
                .logo
                    <img src="/images/sprites/logo.png" /> spotmarket
            .col-xs-5.pull-right
                .row
                    .col-xs-7.login
                        button.btn-success.btn.order.header.pull-left
                            i.deliver-white.pull-left
                            p Dodaj aukcję
                        p Witaj, <b>Adam Nowak</b>
                    .col-xs-4.pull-right
                        .row
                            .col-xs-6.notifications
                                i.ico-notifications
                                .counter 12
                            .col-xs-6.logout
                                i.ico-logout