// HEADER

header
	.container
		.row
			.col-sm-4.col-md-2.col-lg-1
				include _menu
			.col-sm-8.col-md-4
				a(href="index.html").logo
			.col-sm-4.col-md-10.col-lg-11
				.row
					.hidden-sm.col-md-11.col-lg-13
						.login
							| Witaj, <strong>Adam Nowak</strong>
					.col-sm-16.col-md-5.col-lg-3
						.row
							.hidden-sm.col-lg-8.pull-right.logout
								a(href="#")
									i.ico-logout
							.col-lg-8.pull-right.notifications.dropdown
								a(data-toggle="dropdown", href="#").togg
									i.ico-notifications
									.counter 12
								ul(class="dropdown-menu", role="notify", aria-labelledby="notify")
									li.title Ostatnia aktywność
									- for (var x = 0; x < 3; x++)
										li
											| Aukcja <a href="#"><strong>Palety z wełną mineralną</strong></a> została zakończona. Twoja oferta przegrała.
									li.footer
										a(href="#") Zobacz całą ostatnią aktywność