head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  title SpotMarket
  meta(name='description', content='')
  meta(name='viewport', content='width=device-width, initial-scale=1')

  link(href='styles/main.css', rel='stylesheet')