nav(role="navigation").collapse.navbar-collapse
	ul
		li.dropdown
			a(href="#", data-toggle="dropdown").dropdown-toggle Menu
				i.ico_menu
			ul.dropdown-menu
				li.active
					a(href="index.html")
						i.ico_home
						| Kokpit
				li
					a(href="#")
						i.ico_auction
						| Aukcje
				li.sub-dropdown
					a(href="#")
						i.ico_statistic
						i.arrow
						| Statystyki
					ul.sub-dropdown-menu
						li
							a(href="moja_statystyka.html#my-stats") Moje statystyki
						li
							a(href="moja_statystyka.html#opinions") Opinie o mnie
						li
							a(href="moja_statystyka.html#archive") Archiwum aukcji
						li
							a(href="moja_statystyka.html#activities") Ostatnie aktywności
				li
					a(href="#")
						i.ico_friends
						| Pracownicy
				li
					a(href="#")
						i.ico_card
						| Płatności
				li.sub-dropdown
					a(href="#")
						i.ico_options
						i.arrow
						| Moje konto
					ul.sub-dropdown-menu
						li
							a(href="#") Ustawienia konta
						li
							a(href="#") Moje szablony
						li
							a(href="#") Moje komentarze
						li
							a(href="#") Moi partnerzy
						li
							a(href="#") Moje zaproszenia
						li
							a(href="#") Wiadomości
						li
							a(href="#") Regulaminy
				li
					a(href="#")
						i.ico_message
						| Aktualności
				li
					a(href="#")
						i.ico_qua
						| FAQ i Pomoc