.offer-list
	.row
		.col-xs-16
			.ico-col
				i.offers
			.inside
				h2 Oferty Przewoźników <span>(7)</span>
				.grey.hidden-sm Tylko autor ogloszenia może zaakceptować ofertę
				.offer-table
					.row.offer-row.title.hidden-sm
						.col-xs-1
							| Lp.
						.col-md-3.col-lg-2
							| Cena
						.col-md-3.col-lg-2
							| Data złożenia
						.col-md-3.col-lg-2
							| Przewoźnik
						.col-md-4.col-lg-3
							| Wiadomości
					.row.offer-row.active
						.col-sm-2.col-md-1
							.counter 1
						.col-md-3.col-lg-2
							.price 1,000 zł
						.col-md-3.col-lg-2
							.grey 08.02.2014
						.col-md-3.col-lg-2
							a(data-toggle="modal", href="#", data-target="#transporter").user S...s
								span (8)
							i.transport-red
						.col-md-4.col-lg-3
							a.message
								i.message_bl.pull-left
								strong Zadaj pytanie
						.col-xs-2
							button(data-toggle="modal", data-target="#accept").btn.accept-offer
								i.accept-offer.pull-left
								| Akceptuj
					.row.offer-row
						.col-sm-2.col-md-1
							.counter 2
						.col-md-3.col-lg-2
							.price 1,500 zł
						.col-md-3.col-lg-2
							.grey 08.02.2014
						.col-md-3.col-lg-2
							a(data-toggle="modal", href="#", data-target="#transporter").user M...s
								span (8)
						.col-md-4.col-lg-3
							a.message
								i.message_bl.pull-left
								strong Zadaj pytanie
						.col-xs-2
							button(data-toggle="modal", data-target="#accept").btn.accept-offer
								i.accept-offer.pull-left
								| Akceptuj
				.clearfix
				.invite
					h5 Zaproś przewoźnika do tej aukcji:
					form
						fieldset
							.field.text
								label.hidden
								div
									input(type="text", placeholder="Adres e-mail przewoźnika").pull-left
						.actions
							input(type="submit", name="newsletter", value="Wyślij zaproszenie", id="newsletter", class="action")