#docs.tab-pane.fade
	.block
		.row
			.col-md-12
				.head
					| Dokumenty firmowe
					.grey W celu pełnej weryfikacji konta, wymagamy załączenie dokumentów potwierdzających wiarygodność firmy
	.block
		.row
			.col-md-10
				.row
					.col-xs-16
						| Status weryfikacji dokumentów: <span class="green">Zweryfikowane</span>
				.row
					.col-xs-16
						.documents
							a(href="#").download
								i
								| POL-TRANS_Dokumentacja_firmy.pdf
							a(href="#").download
								i
								| POL-TRANS_Dokumentacja_firmy.pdf
				.row.hidden-xs
					.col-xs-11
						a(href="#").btn.new-doc
							i
							| Prześlij nowe dokumenty
						.grey W każdej chwili możesz zmienić swoją dokumentację. Wiąże się to z ich ponowną weryfikacją.
				.row
					.col-md-4
						a(href="#").back
							i.back-white
							| Powrót