#edit-profile.tab-pane.fade.in.active
	.block
		.row
			.col-md-12
				.head
					| Podgląd danych
					.grey Tutaj możesz sprawdzić i poprawić swoje dane. Pamiętaj, że podanie kompletnych i aktualnych danych jest warunkiem korzystania z serwisu.
	.block
		form
			fieldset
				.row
					.col-md-8
						h5 Dane użytkownika
						.row
							.col-md-7
								.field.text
									label Imię
									div
										input(type="text", name="imie", id="imie", class="text")
							.col-md-7
								.field.text
									label Nazwisko
									div
										input(type="text", name="nazwisko", id="nazwisko", class="text")
						.row
							.col-md-7
								.field.text
									label E-mail
									div
										input(type="text", name="email", id="email", class="text")
							.col-md-7
								.field.text
									label Kraj
									div
										input(type="text", name="kraj", id="kraj", class="text")
						.row
							.col-md-7
								.field.text
									label Kod pocztowy
									div
										input(type="text", name="kod", id="kod", class="text")
							.col-md-7
								.field.text
									label Miejscowość
									div
										input(type="text", name="miasto", id="miasto", class="text")
						.row
							.col-md-7
								.field.text
									label Ulica
									div
										input(type="text", name="ulica", id="ulica", class="text")
							.col-md-7
								.field.text
									label Numer / Lokal
									div
										input(type="text", name="lokal", id="lokal", class="text")
						.row
							.col-md-7
								.field.text
									label Telefon
									div
										input(type="text", name="telefon", id="telefon", class="text")
							.col-md-7
								.field.text
									label Fax
									div
										input(type="text", name="fax", id="fax", class="text")
					.col-md-8
						h5 Dane firmy
						.row
							.col-md-7
								.field.text
									label Nazwa firmy
									div
										input(type="text", name="firma", id="firma", class="text", disabled, value="POL-TRANS")
							.col-md-7
								.verify
									i
									| Zweryfikowana
						.row
							.col-md-7
								.field.text
									label NIP
									div
										input(type="text", name="nip", id="nip", class="text", disabled, value="1234567")
							.col-md-7
						.row
							.col-md-7
								.field.text
									label REGON
									div
										input(type="text", name="regon", id="regon", class="text", disabled, value="123456789")
							.col-md-7
						.row
							.col-md-7
								.field.text
									label Kod pocztowy
									div
										input(type="text", name="kod-f", id="kod-f", class="text")
							.col-md-7
								.field.text
									label Miejscowość
									div
										input(type="text", name="miasto-f", id="miasto-f", class="text")
						.row
							.col-md-7
								.field.text
									label Ulica
									div
										input(type="text", name="ulica-f", id="ulica-f", class="text")
							.col-md-7
								.field.text
									label Numer / Lokal
									div
										input(type="text", name="lokal-f", id="lokal-f", class="text")
			.row
				.col-md-4
					a(href="#").back
						i.back-white
						| Powrót
				.col-md-12
					.actions
						input(type="submit", name="zapisz-zmiany", value="Zapisz zmiany", class="action", id="save-changes")