#finance.tab-pane.fade
	.block
		.row
			.col-md-12
				.head
					| Płatności
					.grey Możesz tutaj sprawdzić stan salda swojego konta oraz cykl rozliczeniowy. Twój bieżący cykl rozliczeniowy kończy się 31.05.2014
	.info
		.stan
			h5 Stan Twojego konta
			| Łącznie do zapłaty <span class="final">39,00 PLN</span> do dnia <span class="upto">17.02.2014</span>
			.grey.hidden-xs Twój bieżący cykl rozliczeniowy kończy się 28.02.2014
	.table
		h4 Twoje faktury
		.row
			.hidden-xs.col-md-1
				.grey Lp.
			.hidden-xs.col-md-2
				.grey Numer
			.col-xs-11.col-md-2
				.grey Wystawiono
			.col-xs-5.col-md-2
				.grey Wartość
			.hidden-xs.col-md-3
				.grey Status
		.row
			.hidden-xs.col-md-1
				| 1.
			.hidden-xs.col-md-2
				| 1033/09/03
			.col-xs-11.col-md-2
				| 04.02.2014
			.col-xs-5.col-md-2
				strong 39,90 zł
			.hidden-xs.col-md-3
				.red Do zapłacenia
			.hidden-xs.col-md-3
				a(href="#").download
					i
					| Pobierz PDF
			.hidden-xs.col-md-3
				a(href="#").btn.pay
					i
					| Opłać fakturę
		.row
			.hidden-xs.col-md-1
				| 2.
			.hidden-xs.col-md-2
				| 1033/09/03
			.col-xs-11.col-md-2
				| 04.02.2014
			.col-xs-5.col-md-2
				strong 39,90 zł
			.hidden-xs.col-md-3
				| Opłacona
			.hidden-xs.col-md-3
				a(href="#").download
					i
					| Pobierz PDF
			.hidden-xs.col-md-3
				.none
		.row
			.col-md-4
				a(href="#").back
					i.back-white
					| Powrót