#my-services.tab-pane.fade
	.block
		.row
			.col-md-12
				.head
					| Moje usługi
					.grey Możesz tutaj aktywować lub dezaktywować dostępne usługi.
	.table
		form
			fieldset
				.row
					.col-xs-16.col-md-8
						.grey Usługa
					.hidden-xs.col-md-3.col-lg-2
						.grey Cena
					.hidden-xs.col-md-3
						.grey Status
					.hidden-xs.col-md-2.col-lg-3
						.grey Ustawienia
				.row
					.col-xs-1.visible-xs
						.turn.on
							i
					.col-xs-14.col-md-8
						| Możliwość zarzązania wieloma aukcjami jednocześnie
					.hidden-xs.col-md-3.col-lg-2
						| <strong>10,00</strong> zł/mc
					.hidden-xs.col-md-3
						.turn.on
							i
							| włączony
					.hidden-xs.col-md-2.col-lg-3
						.actions
							input(type="submit", name="wlacz-usluge", value="wyłącz", class="action", id="wlacz-usluge")
				.row
					.col-xs-1.visible-xs
						.turn
							i
					.col-xs-14.col-md-8
						| Możliwość zarzązania wieloma aukcjami jednocześnie
					.hidden-xs.col-md-3.col-lg-2
						| <strong>10,00</strong> zł/mc
					.hidden-xs.col-md-3
						.turn
							i
							| wyłączony
					.hidden-xs.col-md-2.col-lg-3
						.actions
							input(type="submit", name="wlacz-usluge", value="włącz", class="action", id="wlacz-usluge")
				.row
					.col-md-4
						a(href="#").back
							i.back-white
							| Powrót