#password.tab-pane.fade
	.block
		.row
			.col-md-12
				.head
					| Zmiana hasła
					.grey Możesz zmienić swoje hasło.
	.block
		form
			fieldset
				.row
					.col-md-4
						.field.text.good
							label Stare hasło
							div
								input(type="password", name="pass", id="pass", class="text")
						.field.text.wrong
							label Nowe hasło
							div
								input(type="password", name="pass", id="pass", class="text")
						// lv1, lv2, lv3, lv4
						.how-strong.lv1
							.pos
							.pos
							.pos
							.pos
						.field.text
							label Powtórz nowe hasło
							div
								input(type="password", name="repass", id="repass", class="text")
					.col-md-offset-1.col-md-9
						.alert.alert-success.alert-dismissable
							button(type="button", data-dismiss="alert", aria-hidden="true").close ×
							| To jest przykładowy komunikat sukcesu.
						.alert.alert-info.alert-dismissable
							button(type="button", data-dismiss="alert", aria-hidden="true").close ×
							| To jest przykładowy komunikat informacji.
						.alert.alert-warning.alert-dismissable
							button(type="button", data-dismiss="alert", aria-hidden="true").close ×
							| To jest przykładowy komunikat błędu.
			.row
				.col-md-4
					a(href="#").back
						i.back-white
						| Powrót
				.col-md-12
					.actions
						input(type="submit", name="zapisz-zmiany", value="Zapisz zmiany", class="action", id="save-changes")