#reminders.tab-pane.fade
	.block
		.row
			.col-md-12
				.head
					| Ustawienia newslettera
					.grey Możesz zmienić swoje hasło.
	.block
		form
			fieldset
				.question
					| Chcesz otrzymywać e-maile o nowych przesyłkach?
				.field.checkbox.on-off
					label.hidden
					div
						label(for="on1").label-check
							input(type="checkbox", name="on1", id="on1")
							.chck
				.question
					| Chcesz otrzymywać e-maile o nowych funkcjonalnościach serwisu
				.field.checkbox.on-off
					label.hidden
					div
						label(for="on2").label-check
							input(type="checkbox", name="on2", id="on2")
							.chck
				.question
					| Chcesz otrzymywać e-maile o nowych przesyłkach?
				.field.checkbox.on-off
					label.hidden
					div
						label(for="on3").label-check
							input(type="checkbox", name="on3", id="on3")
							.chck
			.row
				.col-md-4
					a(href="#").back
						i.back-white
						| Powrót